[2017-12-17 17:56] WagOne opened #418 "Direct message Error"
When i am using function `send_message` i got
`if super(self.__class__, self).sendDirectItem('message', user_ids, text=text, thread=thread_id):
AttributeError: 'super' object has no attribute 'sendDirectItem'`
What shall i do to fix it?

[2017-12-18 17:51] njhughes-01 commented on #414
couldn;t we utilize cookies to stay logged after first attempt as well to reduce the login attempts

[2017-12-19 07:35] mgaforever opened #419 "error getUserFollowers"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2017-12-19 15:36] miranthajayatilake opened #420 "Like Media by Location giving error"
[code]

### Describeing issue

When I run like like_medias_by_location.py the above error pops up. Seems like something to do with encoding as I understand. Would appreciate help to clarify this.
Thank you.

[2017-12-19 15:57] miranthajayatilake commented on #420
Ok I figured out the problem. Apparently this has something to do with windows.
execute this before running the script
`chcp 65001`

It worked! Thank you for this great project! Keep up the good work!

[2017-12-19 15:57] #420 closed, assigned to nobody

[2017-12-20 14:11] justinf102 opened #421 "Can someone give me a quick rundown on how to use autopost?"
Please, having trouble

[2017-12-21 06:45] miranthajayatilake commented on #352
What was the solution for this?
Error - AttributeError: 'Bot' object has no attribute

Thanks.

[2017-12-22 11:44] ohld commented on #410
The package has been updated by @sudoguy

[2017-12-22 11:44] #410 closed, assigned to sudoguy

[2017-12-23 09:42] aipmy opened #422 "can i added likes_medias_by_location.py in ultimate_schedule?"
how?

[2017-12-23 19:23] ohld commented on #411
If unfollow doesn't work that means that Instagram have changed it's API. If you can find the problem and solution, please share with pull request.

[2017-12-24 13:25] kenshimokak opened #423 "how can run for several account in one time"
how can run for example like_example.py for several account ?

also

how can run multi actions : for example doing

`

   bot = Bot()
   bot.login(username, password)
   bot.unfollow_everyone()

`
thnaks

[2017-12-24 17:06] #418 closed, assigned to nobody

[2017-12-27 16:15] miranthajayatilake opened #425 "Comment on user's follower's media - comment_user() Error"
I was trying to use comment_user and comment_users functions to comment of user's follower's media.

below is the code

[code]

And this gives the below error

[code]

Please let me what I'm doing wrong here.

Thank you!

[2017-12-28 03:51] miranthajayatilake opened #426 "Comment on User's Followers' media"
Hi, can someone provide me with a workaround on how to comment on a user's followers' media as we do with like.

Thanks in advance.

[2017-12-28 04:36] miranthajayatilake commented on #423
To run on several accounts at once you can open several command prompt windows (I have tried on windows) and run two scripts separately. It should work.

Multi actions are possible. As I understand the actions will be performed serially. Which means after the first action is finished the second will start.

[2017-12-28 04:39] miranthajayatilake commented on #422
Yes. you should be able to do it. Follow carefully how functions are executed in ultimate_schedule.py and add like media by location function to it.

[2017-12-28 04:43] miranthajayatilake commented on #417
To run a script in windows -
Go to the folder that you have the python code
Hold shift and right click - Open command prompt
type `python yourfilename.py`

It'll run but make sure-
If python is installed correctly at the root
pass any parameters needed for scripts
eg: `python yourfilename.py hashtag`

[2017-12-28 04:48] miranthajayatilake commented on #416
If you're using multi_script_CLI.py I believe you can increase the day limit in the beginning.

To reduce the likes per hashtag you can edit the below code in the file

`     else:
                hashtags.append(random.choice(bot.read_list_from_file(hashtag_file)))
            for hashtag in hashtags:
                bot.like_hashtag(hashtag)`

change `bot.like_hashtag(hashtag)` to `bot.like_hash

[2017-12-29 21:00] stinsonmktg opened #427 "Ideas: Welcome message, unfollow last X following"
Anyone know how we could implent an automatic welcome message? For example:

Check every X minutes for new followers, if new followers; send welcome message (from txt file)

Another thing I came across by mistake is to unfollow the last X following. I overwritted my white list with new unwanted following and since the list is created by userID I couldnt tell who really was my friends. So if you kn

[2018-01-01 21:19] AfshinZlfgh opened #428 "500 and 404 error while follow"
some times when i follow users from list i get 500 (just one time occured) and 404 (many time) error, i think 404 occures when target user account deactived or not exist, in this cases error number loged on the screen and program ends but i think the program must not do like that, maybe its better it returns error number and let bot user deside to handle it by own code or in case of 404 error it c

[2018-01-02 15:03] stanleyhafeld commented on #370
You can run it with termux application you can find here: https://termux.com/

[2018-01-02 15:21] amitchoudhary13 commented on #425
want to comment only on the first media post?

[2018-01-02 15:27] amitchoudhary13 opened #429 "want to fetch only first media of user"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-02 15:32] miranthajayatilake commented on #425
Yeah. That'll be fine.

[2018-01-02 16:14] stanleyhafeld opened #430 "Set cycle of running bot function"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-04 00:40] njhughes-01 commented on #429
use the del function to shorth the list
```del list[1:]```

[2018-01-04 05:40] miranthajayatilake opened #431 "Idea - Comment by Location"
Hi,

Can someone provide a workaround on commenting by location. Code for Liking by location is already there and works well. If comments can also be done by location, it'll be really useful.

Thank you.

[2018-01-04 21:37] AfshinZlfgh commented on #428
i write a handler for this issue by myself and solve it, if ones teach me correct way of making pull requst i will do it (its my first time)
  <a href="http://uploads.im/dNrCb.png"><img src="http://sk.uploads.im/t/dNrCb.png" border="0" /></a>

[2018-01-05 07:24] ayush3298 opened #432 "can't download media by use"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-05 09:40] romankk commented on #428
@AfshinZlfgh
Can you share your code for error handling here.
I agree with you that on error bot should continue and not stop working.

[2018-01-05 16:19] AfshinZlfgh commented on #428
@romankk i added the code in my fork and make pull request to this repo you can clone it from my repo or wait for merging my code with this repo

[2018-01-05 16:19] #428 closed, assigned to nobody

[2018-01-06 16:40] renanrox commented on #389
i did what @iamjagjeetubhi  but myrpi gets:

`Collecting schedule (from instabot==0.3.3.21)
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 353, in run
    wb.build(autobuilding=True)
  File "/usr/lib/python2.7/di

[2018-01-06 23:24] ohld commented on #430
You can write a simple python cycle:
[code]

[2018-01-08 21:09] sudoguy commented on #432
@ayush3298 You are forget to add
```bot.login(username="user", password="pass")```
after ```bot = Bot()```

[2018-01-09 05:52] ayush3298 commented on #432
It download some photos and after some photos it shows that error. And I logged in

[2018-01-09 14:35] #431 closed, assigned to nobody

[2018-01-09 15:36] ohld commented on #431
Hi! Check ```examples/comment_medias_by_location.py```

[2018-01-09 16:14] #421 closed, assigned to nobody

[2018-01-09 16:16] sudoguy commented on #419
@mgaforever You are forget to add
bot.login(username="user", password="pass")
after bot = Bot()

[2018-01-09 16:16] #419 closed, assigned to nobody

[2018-01-09 16:45] sudoguy commented on #432
@ayush3298 can you write me in telegram?
https://t.me/sudoguy

[2018-01-11 08:48] Cwaldmann commented on #427
i wrote a script which is run once a day and it checks out all new followers and sends them a welcome message, dm me

[2018-01-11 17:04] koeniig2 opened #434 "can i run on qpython?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-11 22:57] heyton commented on #427
@Cwaldmann can you give the code?

[2018-01-12 08:15] Cwaldmann commented on #427
@heyton  sure can i send u a mail ?

[2018-01-12 10:03] ohld commented on #427
@Cwaldmann You can share the code snippet here in comments

[2018-01-12 10:29] Cwaldmann commented on #427
@ohld its not just one code snippet its in bot_direct and some other files

[2018-01-14 10:39] ArashSiar opened #436 "run 11 account on machine and get error feedback_required??how many account can run in one machine?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-14 12:33] Talebano opened #437 "Connection reset error handling"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-16 20:32] iransales commented on #336
Did you find any way to do this?

[2018-01-16 20:38] iransales opened #438 "Iphone"
how to run this kind of script on iPhone?

[2018-01-18 12:28] ordekalo commented on #436
Please reset your IP address and everything should work fine.

[2018-01-22 08:27] acandelaria1 opened #439 "RuntimeError: Set changed size during iteration on example `like_hashtags.py`"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-23 09:38] sudoguy opened #440 "Bug with download_photos"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-01-23 22:18] sudoguy commented on #440
Fixed https://github.com/instagrambot/instabot/commit/8ed47c249b6d03a5d239f16d6039bf4cfe3b4bcb

[2018-01-23 22:18] #440 closed, assigned to sudoguy

[2018-01-23 22:19] sudoguy commented on #432
Fixed https://github.com/instagrambot/instabot/commit/8ed47c249b6d03a5d239f16d6039bf4cfe3b4bcb

[2018-01-23 22:19] #432 closed, assigned to nobody

[2018-01-24 09:46] sudoguy commented on #375
Just use ultimate_schedule. It's more configurable script

[2018-01-24 09:46] #375 closed, assigned to nobody

[2018-01-24 09:54] sudoguy commented on #336
Write your own jobs in ultimate_schedule.

[code]

[2018-01-25 07:26] #313 closed, assigned to nobody

[2018-01-25 07:27] #316 closed, assigned to nobody

[2018-01-25 08:11] sudoguy commented on #425
Fixed https://github.com/instagrambot/instabot/commit/27e39b1982a332426050be6f451d1a2c270245d8

[2018-01-25 08:11] #425 closed, assigned to sudoguy

[2018-01-25 20:59] Hassankashi opened #441 "How can I handle to initiate bot_direct"
Hi guys,
I read related document about instagrambot and I installed latest version and requirements.txt.

I want to run "bot_direct.py"
Where should I login firstly? I mean which file must be initiated firstly?

I have issue because of
sys.path.append(os.path.join(sys.path[0], '../'))

Do I have to use "chromedriver" and install it, where should I put it?

<pre>
runfile('D:/py/instabot-master/exam

[2018-01-26 07:28] sudoguy commented on #438
@iransales This script cannot be used with iPhone

[2018-01-26 07:28] #438 closed, assigned to nobody

[2018-01-26 07:34] sudoguy commented on #429
@amitchoudhary13 Hello,
You can change received a list of media by deleting as said by Kiilerherts above.
Or you can add to end of function [1:].
Example:
[code]

[2018-01-26 07:34] #429 closed, assigned to nobody

[2018-01-26 07:46] #430 closed, assigned to nobody

[2018-01-26 07:46] #370 closed, assigned to nobody

[2018-01-26 07:47] sudoguy commented on #434
The same issue https://github.com/instagrambot/instabot/issues/370

[2018-01-26 07:47] #434 closed, assigned to nobody

[2018-01-26 07:47] sudoguy commented on #406
The same issue https://github.com/instagrambot/instabot/issues/370

[2018-01-26 07:47] #406 closed, assigned to nobody

[2018-01-26 07:48] sudoguy commented on #378
You need to update bot.
```pip install -U instabot```

[2018-01-26 07:48] #378 closed, assigned to sudoguy

[2018-01-26 07:49] #328 closed, assigned to nobody

[2018-01-26 07:51] sudoguy commented on #408
instagram does not store the user's gender.
But filtering by word in caption and profile can be done

[2018-01-26 07:53] sudoguy commented on #407
@cs801458j Thanks for your help with documentation!

[2018-01-26 07:53] #407 closed, assigned to nobody

[2018-01-26 08:24] sudoguy commented on #376
Added method for searching users by username https://github.com/instagrambot/instabot/commit/5318a7efdfaed17aa769c9fcd4832b5b73307f94

[2018-01-26 08:24] #376 closed, assigned to nobody

[2018-01-26 17:31] mpuff opened #442 "The bot also likes my own fotos"
Hello,

the bot also likes my own fotos with the hashtages i have written in the like_hashtag.txt
how can i solve this?

thanks

[2018-01-28 19:05] srbalook opened #444 "ImportError: No module named api"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-01-29 07:49] sudoguy commented on #444
Try this command
```git clone https://github.com/instagrambot/instabot.git --recursive```

[2018-01-29 21:26] sudoguy commented on #389
Fixed in https://github.com/instagrambot/instabot/commit/a84ea4a6d2f97c1b19ed515ea01342eb0f1a4bc5

[2018-01-29 21:26] #389 closed, assigned to nobody

[2018-01-29 21:28] #379 closed, assigned to nobody

[2018-01-29 21:29] #444 closed, assigned to nobody

[2018-01-29 21:30] #368 closed, assigned to nobody

[2018-01-29 21:31] sudoguy commented on #364
Fixed in https://github.com/instagrambot/instabot/commit/a84ea4a6d2f97c1b19ed515ea01342eb0f1a4bc5

[2018-01-29 21:31] #364 closed, assigned to sudoguy

[2018-01-29 21:31] #347 closed, assigned to nobody

[2018-01-29 21:33] sudoguy commented on #358
Fixed in https://github.com/instagrambot/instabot/commit/27e39b1982a332426050be6f451d1a2c270245d8

[2018-01-29 21:34] #358 closed, assigned to nobody

[2018-01-29 21:35] #322 closed, assigned to nobody

[2018-01-29 21:36] #321 closed, assigned to nobody

[2018-01-29 21:37] #336 closed, assigned to nobody

[2018-01-30 03:35] ivadenis commented on #442
add yourself to blacklist.txt

[2018-01-31 09:15] sudoguy commented on #442
@mpuff Don't worry, I'll fix this.

[2018-02-01 12:15] ordekalo commented on #442
Just Auto add yourself to black list

[2018-02-02 22:08] levensworth opened #445 "INSTAGRAM API DEPRECATED BY JUNE 2018"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-03 19:58] Brunya commented on #179
Did you fin the problem?

[2018-02-03 19:59] Brunya commented on #173
Did you fin the problem?

[2018-02-04 13:08] zayaerme opened #446 "unfollow only bots followed list ?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-04 13:35] digiteo opened #447 "Like new posts only"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-04 17:47] ivakinpavel opened #448 "Feature request - "safe" login"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-04 19:58] angeloiaia opened #449 "Logging error and Exception in thread error in ultimate_schedule"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-04 19:59] mpuff commented on #442
Thank you

[2018-02-04 20:00] #442 closed, assigned to sudoguy

[2018-02-04 20:39] Krustenviech commented on #414
Hmm... i tried a proxy from my country, but didn´t help. Any other solution for this?
Just happens in one of my 6 accounts. Strange

and it´s the only account also used on ios phone.

[2018-02-05 14:44] zayaerme commented on #288
@colellla i need help with unfollowing followed list. Can you help me on that ?

[2018-02-07 04:30] johanfuen9 commented on #445
https://developers.facebook.com/blog/post/2018/01/30/instagram-graph-api-updates/

[2018-02-07 10:03] FlamePZ commented on #444
I need help with this. I have the same error

[2018-02-07 12:26] Brunya commented on #447
+1

[2018-02-07 18:06] levensworth commented on #445
thank you for the update

[2018-02-07 18:59] #346 closed, assigned to nobody

[2018-02-07 19:00] #353 closed, assigned to nobody

[2018-02-07 19:00] #361 closed, assigned to nobody

[2018-02-07 19:00] #363 closed, assigned to sudoguy

[2018-02-07 19:00] #325 closed, assigned to nobody

[2018-02-07 19:00] #335 closed, assigned to nobody

[2018-02-07 19:00] #343 closed, assigned to nobody

[2018-02-07 19:00] #362 closed, assigned to sudoguy

[2018-02-07 19:00] #371 closed, assigned to nobody

[2018-02-07 19:00] #373 closed, assigned to nobody

[2018-02-07 19:00] #374 closed, assigned to nobody

[2018-02-07 19:00] #341 closed, assigned to nobody

[2018-02-07 19:00] #385 closed, assigned to nobody

[2018-02-07 19:00] #381 closed, assigned to nobody

[2018-02-07 19:00] #387 closed, assigned to nobody

[2018-02-07 19:00] #390 closed, assigned to nobody

[2018-02-07 19:59] #283 closed, assigned to nobody

[2018-02-07 19:59] #318 closed, assigned to nobody

[2018-02-07 19:59] #320 closed, assigned to sudoguy

[2018-02-07 19:59] #333 closed, assigned to nobody

[2018-02-07 19:59] #327 closed, assigned to nobody

[2018-02-07 19:59] #334 closed, assigned to nobody

[2018-02-08 12:47] ghost opened #450 "pip install -U instabot - Dont work!?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-08 12:48] ghost commented on #450
donta install

[2018-02-16 19:32] #412 closed, assigned to nobody

[2018-02-17 22:06] jslm commented on #409
Anything up?

[2018-02-18 15:47] #394 closed, assigned to nobody

[2018-02-18 18:20] Drivium opened #451 "Ultimate Schedule Sits Idle After Login"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-19 19:04] ivadenis opened #452 "filter_medias is not working for checking on commented medias"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-19 19:07] ivadenis commented on #452
<img width="1178" alt="screen shot 2018-02-19 at 11 07 11 am" src="https://user-images.githubusercontent.com/3453508/36393595-1652f7ae-1565-11e8-8b03-48216bc4ed2c.png">

[2018-02-19 20:41] jairo92 opened #453 "how can i install it??"
can someone help me to install this instabot

[2018-02-21 23:24] #415 closed, assigned to nobody

[2018-02-22 09:52] cachebust commented on #436
Do we have any limitation on the number of account we can use per IP ? If yes, what is the threshold ?

[2018-02-24 01:44] dearagoon opened #455 "How Do I login? Can't seem to find where to put my username/password."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-24 15:29] Walking111 commented on #304
the same issue ... changed to 700 and still writing to me that limit is 350 ....

[2018-02-24 18:08] melihevren commented on #445
What i understand is this repo will be useless after june 18, correct?

[2018-02-25 10:24] Milkywayrules opened #457 "No module named api"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-02-25 17:08] hi-im-root commented on #445
can someone confirm this? will the current repo be useless after the 18? since they are removing relationships from the api on the june 18

[2018-02-25 17:09] hi-im-root commented on #457
use pip install instabot

[2018-02-25 21:44] sudoguy commented on #445
Instabot doesn't use Instagram Graph API. Bot work only with private Instagram API. Repo will not be useless after 18 June.

[2018-02-25 21:44] #445 closed, assigned to nobody

[2018-02-26 17:38] carlosb1 opened #458 "Function comment is not working in all cases"
I am trying to understand some problems which I have with the comment function.  I have a script to comment a few images with some tags. All my code works fine  (included this comment function), but the comment function works randomly... I don't know which type of criteria follows  I comment five times and wait to avoid to raise the limit. Also, I changed the IPs to avoid to be banned....

[2018-02-28 21:09] astroclem opened #460 "Change settings"
Hello ! I don't really know where to post this.
You said on this page:
https://instagrambot.github.io/docs/en/FAQ.html
in the section: **Will my account be banned ?** you said
"More details about this can be read here (make a page with a description of these parameters and how to change)."
So, do you know where we can change this settings ?
Thank you vere much

[2018-02-28 21:10] #460 closed, assigned to nobody

[2018-02-28 21:11] astroclem commented on #460
Oh it's in bot.py
sorry !

[2018-03-07 14:38] kapsolas commented on #438
If your phone is jailbroken and you can install python, then you maybe able to use this.

[2018-03-07 20:11] #411 closed, assigned to nobody

[2018-03-10 21:32] xSWIGx opened #462 "Duplicate debug messages when create two or more bot objects."
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-03-10 23:41] Mumbreon opened #463 "Auto Post and Repost doesn't work in linux."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-10 23:48] #463 closed, assigned to nobody

[2018-03-11 17:27] sevilyilmaz opened #464 "Like and follow by hashtag"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-12 04:35] #426 closed, assigned to nobody

[2018-03-12 05:45] #423 closed, assigned to nobody

[2018-03-12 05:45] #422 closed, assigned to nobody

[2018-03-12 05:45] #417 closed, assigned to nobody

[2018-03-12 05:45] #416 closed, assigned to nobody

[2018-03-15 00:57] harshvardhanmalpani opened #465 "'ascii' codec can't encode character u'\u258b' in position 6: ordinal not in range(128)"
2018-03-15 00:56:14,585 - INFO - Going to like media with hashtag #artsy.
/usr/lib/python2.6/site-packages/urllib3/util/ssl_.py:137: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. You can upgrade to a newer version of Python to solve this. For more information, see https://u

[2018-03-15 05:57] sahandmax opened #466 "Error 400 on follow request"
hi
on follow i got below message

2018-03-15 09:25:34,223 - ERROR - Request return 400 error!
2018-03-15 09:25:34,247 - INFO - Instagram error message: feedback_required

[2018-03-15 11:44] sudoguy commented on #465
Hi! As you see from the error message, you need to upgrade python to a newer version. Instabot support Python 2.7+ and Python 3+

[2018-03-15 11:44] #465 closed, assigned to sudoguy

[2018-03-15 11:48] #455 closed, assigned to nobody

[2018-03-15 11:48] harshvardhanmalpani commented on #465
Yes, this issue was due to py2.6 default, I installed 3.6.4 yesterday and it worked flawlessly. Thanks a lot

[2018-03-15 11:49] #450 closed, assigned to nobody

[2018-03-15 21:23] Trothgar opened #467 "KeyError: 'user'"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-15 22:40] levensworth commented on #446
you can use the followed.txt file. Unfollow all the users in that list and you'll be fine

[2018-03-16 08:21] andreiafurbeis commented on #467
Same error , start yesterday .... I think that the "problem" is instagram , not you

[2018-03-16 16:02] jtrimm007 commented on #467
Same issue here....

[2018-03-16 16:45] sudoguy commented on #467
Wrong repo

[2018-03-16 16:45] #467 closed, assigned to nobody

[2018-03-16 22:18] jakubvos commented on #368
I'm also having this issue

pip install tqdm doesn't help (says already satisfied..)

[2018-03-16 22:21] jakubvos opened #468 "ImportError: No module named tqdm"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-17 10:36] sudoguy commented on #462
Hello! Thank you for an issue.
That bug fixed https://github.com/instagrambot/instabot/commit/dc32953a1e80b9cc0f0bc02e2e46c558cf5282b3

[2018-03-17 10:36] #462 closed, assigned to nobody

[2018-03-18 07:32] ohld opened #469 "Strange Output while unfollowing everyone"
Then I started the unfollow everyone example script in gave the strange log outputs but **actually it does its job right**.

The output:

[code]

The strange thing is ` Already following , Skipping `

[2018-03-18 11:01] igisho opened #470 "checkpoint_challenge_required Error message when loging in."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-18 17:37] JoeFertig opened #471 "Error in threading.py"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-19 04:00] mirhayotb opened #472 "line 46 bot_support-> not found 'user_id'"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-19 05:14] mykolasm commented on #467
@sudoguy which repo is the right repo to clone and run? im having the same error:

Traceback (most recent call last):
  File "example.py", line 52, in <module>
    unfollow_whitelist=['example_user_1', 'example_user_2'])
  File "/nfs/2018/m/mmarcink/Desktop/instabot.py-master/src/instabot.py", line 231, in __init__
    self.login()
  File "/nfs/2018/m/mmarcink/Desktop/instabot.py-master/src/instab

[2018-03-20 09:35] DioLorenzo commented on #304
same issue i put 1500 limit and change delay, but limit is still 350 and normal delay.

[2018-03-21 13:33] #469 closed, assigned to nobody

[2018-03-21 13:33] sudoguy commented on #469
Thanks, Daniil!

[2018-03-23 17:37] RobertoBrandini commented on #470
The same thing has happened to me for the last 2 days.

[2018-03-24 13:05] burakgulmez opened #474 "Is there any way to read direct messages from other users?"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-03-24 14:51] negswell opened #475 "Proxy issue in instabot version 0.3.5.3"
### Purpose of your issue?
- [X ] Bug report (encountered problems/errors)
- [X ] Other

Code:
---
From instabot import Bot
instagrambot=Bot()
instagrambot.login(username='solomolo5689', password=igpassword,proxy='username:password@host:port')
#username/password/host/port have been hidden due to privacy
#proxy used is ipv4 and ipv6 compatible ,protocol HTTP
Traceback (most recent call last):
---
[

[2018-03-24 17:39] negswell commented on #475
the issue has been fixed .

[2018-03-24 17:39] #475 closed, assigned to nobody

[2018-03-24 19:20] sagepierce opened #476 "This happens anytime I try to do anything 2018-03-24 13:19:12,466 - INFO - error, read exception bellow 2018-03-24 13:19:12,466 - INFO - list index out of range"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-24 19:30] sudoguy commented on #476
Please, follow the guide. I can't help you without Traceback and more details.

[2018-03-24 20:40] #476 closed, assigned to nobody

[2018-03-24 21:50] gregyjames commented on #470
I am getting a slightly different issue:

`2018-03-24 17:46:51,921 - ERROR - Request return 400 error!
2018-03-24 17:46:51,922 - INFO - Instagram error message: Sorry, there was a problem with your request.
2018-03-24 17:46:51,922 - INFO - Error type: sentry_block
2018-03-24 17:46:51,922 - INFO - Login or password is incorrect.`

[2018-03-25 10:52] diegopauel commented on #18
So, copy and paste what into what? I'm totally lost, please help.. I want to auto DM to my new followers :)

[2018-03-25 17:29] Talebano commented on #470
Same problem but with sentry_block error.
I tried with different machines,different accounts and various ip addresses but it looks like the problem is in login.

[2018-03-26 09:25] justanothergthbaccount commented on #470
+1 to Error type: sentry_block. Any solution or hint?

[2018-03-27 14:04] gersanchez commented on #470
The same over here...

[2018-03-27 18:15] the-umair opened #477 "Unsupported operand type for +: `int` and `nonetype` in autopost"
![untitled](https://user-images.githubusercontent.com/29621769/37986393-f196ddb0-3218-11e8-912e-0839186186ee.png)

[2018-03-27 18:19] the-umair commented on #477
my python version is 2.7.14

[2018-03-28 15:16] playfuldreamz commented on #421
Me too

[2018-03-29 00:04] sagepierce commented on #476
Hey man it works I was just setting the environment up wrong. Thank you for
your awesome tutorial

On Sat, Mar 24, 2018 at 1:30 PM Evgeny Kemerov <notifications@github.com>
wrote:

--

[2018-03-29 13:34] #437 closed, assigned to nobody

[2018-03-31 08:10] tantsurin opened #479 "Running script on Android"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-03-31 08:10] #479 closed, assigned to nobody

[2018-03-31 15:52] rets85 commented on #470
Same issue.

[2018-04-01 04:39] varun-chaudhary opened #480 "instagram.py shows arguments"
when i enter (python instagram.py install)
it gives (usage: instagram.py [-h] username wordlist
instagram.py: error: too few arguments)
please help

[2018-04-01 13:13] SergiosDiaz opened #481 "Like by location"
# Is there any way to like by location?

[2018-04-01 13:25] maykbrito commented on #481
I would love!!

[2018-04-01 16:59] johanfuen9 commented on #470
Same issue. sentry_block

[2018-04-01 17:05] johanfuen9 opened #482 "Error type: sentry_block"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-04-01 19:05] sudoguy commented on #481
Hello! You need to use script like_medias_by_location.py in examples folder

[2018-04-01 19:40] gbergna2009 commented on #427
@Cwaldmann Hi! Can we talk about it? If you sell this script I want to buy it. Please reply me in private.

[2018-04-01 20:05] gbergna2009 opened #483 "Probable BUG in message_users.py for option of direct private message (n° 3 Message Each Your Follower)"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-04-01 20:22] gbergna2009 commented on #483
![bot](https://user-images.githubusercontent.com/37941830/38177080-f7b0a9d4-35fa-11e8-9e34-fdb4b963313d.png)

This is for error "ERROR - Text must be an string, user_ids must be an list or string" and doesn't send private message at my followers.

[2018-04-01 21:01] lukasz00500 opened #484 "in like user followers / following - already likedy useres - skippedlist"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-04-06 08:55] #439 closed, assigned to nobody

[2018-04-06 19:56] Oyetomi commented on #483
@gbergna2009 its been fixed ,,close the thread

[2018-04-06 20:27] gbergna2009 commented on #483
@virginsince1997 many thanks for fix this issue! I try this new version and now it works. Only another little bug I think... messages was send to all users by the bot, but these messages are sent all together without respecting a minimum of timing. This way you really risk the ban! it seems that it does not follow the instructions in line 24 "banDelay = (86400 / messagesToSend)".

You could verify

[2018-04-08 02:14] #482 closed, assigned to nobody

[2018-04-08 02:18] johanfuen9 commented on #482
The error is generated when login repeatedly in a short time

[2018-04-08 13:41] Naramsim opened #488 "High number of likes"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-04-08 21:36] #345 closed, assigned to nobody

[2018-04-09 05:36] alberdonpi commented on #452
I recently fall into that error. Looks like the API is not returning the `comments` field anymore so the filter is never working. The solution I found was to override the method, and if necessary make a call to `getMediaComments` and get all comments.

Still there is another problem, that method just return at most 20 comments, and is not ready to get all (i.e. like `getTotalFollowers` does), so a

[2018-04-09 13:25] sudoguy commented on #480
Wrong repo

[2018-04-09 13:25] #480 closed, assigned to nobody

[2018-04-09 13:26] #481 closed, assigned to nobody

[2018-04-09 13:35] sudoguy commented on #488
Hello! Thank you for an issue! Fixed in last commit (https://github.com/instagrambot/instabot/commit/a2907aa1de6b73318df40398be5d903165077c65)

[2018-04-09 13:35] #488 closed, assigned to nobody

[2018-04-09 13:55] sudoguy commented on #483
@gbergna2009 @virginsince1997 What default delay I need to set for sending messages?
A delay between sending messages

[2018-04-09 16:47] gbergna2009 commented on #483
10 private messages up to one hour if we talk about a newly created instagram account with at least 6 images. This is the only data I can tell you to avoid the ban. Then I do not know exactly. However, this could be a reliable starting time, then everyone should be able to set it as they prefer by doing some tests.

[2018-04-09 22:45] #441 closed, assigned to nobody

[2018-04-11 06:27] BobZombiE69 commented on #470
on 2 different machine , with 2 different IP , and 2 different accounts:

**Everything was working fine , until i stopped the bot and run it again** ,
then the same error here:
Error type: sentry_block

[2018-04-11 07:00] kantona80 opened #491 "Unable to login to my account with instabot (Sentry_block)"
### Before submitting an issue, make sure you have:
- [X] Updated to the latest version
- [X] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-04-11 09:10] heyton commented on #491
Same story

[2018-04-11 10:09] heyton commented on #475
I have same problem. How do you fixed it?

[2018-04-11 13:53] kantona80 commented on #491
I verified that on windows platform with Python 2.7.9 and latest version of instabot (0.3.5.3) it works. The problem occurs when I use the library instabot on Ubuntu 16.04.4 LTS with Python 2.7.12

I tried with different public ip addresses and got same KO result with Ubuntu.

[2018-04-11 19:50] kifirkin commented on #491
same here :worried:

Some more info on this error:
when I first tried to sign in I've got this error
[code]
and only then got:
[code]

100% WORKING SOLUTION!:
1. [Temporary deactivate account](https://www.instagram.com/accounts/remove/request/temporary/)
1. Select reason: `just need a break`
1. Wait 2-3 hours
1. Login directly with bot (It will activate account back without `sentry_block` or `chec

[2018-04-13 06:44] ghost opened #493 "get_user_followers(self) returns wrong amount"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-04-14 02:33] sudo-judo commented on #491
Deactivate for how long? And how to relogin? It is safe?

[2018-04-14 07:52] Brunya commented on #470
Same issue.

[2018-04-14 23:42] iransales commented on #427
PLEASE Share!!!!

[2018-04-15 15:30] Naramsim opened #495 "Retrieve messages"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-04-15 16:28] sudoguy commented on #427
I did write some script in examples. Welcome
https://github.com/instagrambot/instabot/blob/master/examples/welcome_message.py

[2018-04-16 10:09] armanlabs commented on #491
i have same error

[2018-04-16 11:31] kifirkin commented on #468
@Jame-Stitel try `python setup.py install`

[2018-04-16 15:16] davidhearnsmith commented on #493
Server lag 👍

[2018-04-17 08:42] dirkrmeij opened #496 "BUG report follow_users_from_file.py results in error"
### For a *bug report*, you **must** include the Python version used, *code* that will reproduce the error, and the *error log/traceback*.

Paste the output of ``python -V`` here:
Python 2.7.10 (default, Oct  6 2017, 22:29:07)

Code:
[code]
Error/Debug Log:
[code]
### Describe your issue

Looks like there is a issue in the example file if I am not mistaken.

[2018-04-17 13:18] bdebon commented on #484
It is a feature that I was desperately looking for too but after so many researches, I found out that the solutions was not implemented yet and did not know if it would be one day. So I coded it myself, I don't know if I did it right. It works for me but don't know if it is done well enough to be merged. Question for the team :
that feature is really interesting for people that launch the bot ever

[2018-04-17 18:39] lukasz00500 commented on #484
Can you share your work?

[2018-04-18 03:46] menporulporiayalan opened #497 "Download Photos by user (too few arguements error)"
The Download photos by user script is not working properly. It just throws the error as too few arguements.   Any fixes?

[2018-04-18 11:07] ahmadsl commented on #482
how can solve this error?
after get this error i wait for an hour, then try again and get this error again and again!

[2018-04-18 21:10] basnijholt opened #499 "max_followers_to_following_ratio and max_following_to_followers_ratio is the same"
And one of them should just be the inverse of the other, e.g. `max_followers_to_following_ratio = 1/max_following_to_followers_ratio`.

We should either deprecate one of them or make the arguments mutually exclusive.

[2018-04-19 10:49] negswell commented on #475
use http proxies ,using this format ,proxy='http://username:password@ip_address:port'

[2018-04-19 18:59] #448 closed, assigned to nobody

[2018-04-19 20:43] gbergna2009 commented on #483
@sudoguy Hi boss! Did you check the operation of the delay parameter? at present the messages are sent correctly but are sent all together at once, as if they did not respect any timetable. This is important because otherwise send too many messages all at once, you risk the ban. Thanks so much.

[2018-04-19 20:59] #449 closed, assigned to nobody

[2018-04-19 20:59] #414 closed, assigned to nobody

[2018-04-19 22:41] basnijholt commented on #497
Can you please post the entire error message and how you got to it?

[2018-04-21 07:53] ggirodda commented on #482
I have the same error, and I never repeatedly try to login, I'm on Ubuntu server.
I also try to use a VPN, the openvpn server was by home network from where I can access instagram without any problem, but I still got the same error.

[2018-04-21 18:17] ofou opened #505 "Save user followers into a file example"
Hi guys! I'd like to know if it's possible to add an example: **save user followers into a file**, it would be very useful for large number of users.

[2018-04-22 13:29] #447 closed, assigned to nobody

[2018-04-22 13:42] basnijholt commented on #496
Thanks for your report!

I fixed this error in https://github.com/instagrambot/instabot/pull/508

The problem is actually that you have an empty line with a space in `followed.txt`. When https://github.com/instagrambot/instabot/pull/508 is merged, this shouldn't be a problem anymore.

[2018-04-22 13:43] basnijholt commented on #453
Please read the [documentation](https://instagrambot.github.io/docs/en/#installation).

[2018-04-22 13:43] #453 closed, assigned to nobody

[2018-04-22 13:43] basnijholt commented on #466
Could you please provide more information and the code that lead you to get this error?

[2018-04-22 13:54] basnijholt commented on #495
See https://github.com/instagrambot/instabot/pull/509.

I added a method to the `Bot` class called `get_messages`.

[2018-04-22 14:16] #495 closed, assigned to nobody

[2018-04-22 14:19] #496 closed, assigned to nobody

[2018-04-22 14:48] basnijholt commented on #477
Could you please provide the complete error message?

[2018-04-23 07:06] rkovachev88 opened #512 "Can the bot make multiple tasks at the same time?"
Hello,

Is there a way that the bot can make multiple tasks at the same time? Like follow, unfollow, like, comment.

I have try the multi script but it can does only one task which I have to choose.

Thank you!

[2018-04-23 13:32] lasododo commented on #466
I get the same error after running message_users.py , but I got it after it sent a message to 140 people... the code is competlu same, there is just changed message

[2018-04-23 13:38] basnijholt commented on #466
@lasododo, like my comment above: Could you please provide more information and the code that lead you to get this error?

And besides that, the complete error.

[2018-04-23 13:42] lasododo commented on #466
[code]

This is the whole error message, ( I have set it up now to jump into 640th follower, just in case that its coused by someone.... but if I choose an option "Message Each User From List." it will send all messages, just for followers its causing this error, isnt there somekind of protection agains abusing this bot ? like after 140 messages to calm down for 24 hours or something ? + if you wa

[2018-04-23 13:45] lasododo commented on #466
[instabot-master.zip](https://github.com/instagrambot/instabot/files/1938438/instabot-master.zip)
here is the project in case you woud like to see it

[2018-04-23 13:47] basnijholt commented on #466
See https://github.com/huttarichard/instagram-private-api/issues/330 and https://github.com/mgp25/Instagram-API/issues/1577

It seems like your account is being blocked because of over usage.

[2018-04-23 13:48] lasododo commented on #466
okey thank you, just a side question, if its blocked how can I still send message to my personal account from that acc then ?

[2018-04-24 02:48] jasonwoodland commented on #491
+1

[2018-04-24 09:09] kifirkin commented on #491
@sudo-judo I've edit my comment. Also you could read more about how instagram deactivation works [here](https://help.instagram.com/728869160569983)

[2018-04-24 09:12] kifirkin commented on #470
Working solution [here](https://github.com/instagrambot/instabot/issues/491#issuecomment-380574716)

[2018-04-24 14:43] Oyetomi commented on #512
Use the scripts in the ultimate folder.

[2018-04-25 18:53] lasododo opened #513 "Proxy ?"
Hello I just have a quick question how to set up a proxy while using the bot ... i noticed that this is in __init__ : proxy=None,

and then i found this part of a code :

 def login(self, **args):
        if self.proxy:
            args['proxy'] = self.proxy
        if self.api.login(**args) is False:
            return False
        self.prepare()
        signal.signal(signal.SIGTERM, self.logout

[2018-04-26 08:24] heyton commented on #513
[code]

[2018-04-26 10:58] ghost opened #514 "Make bot continue if loss of internet"
sometimes i get error 404 and i need to manually press 1 to start the script back up , how can i edit this so it automatically logs me.

also what file is the text "Which account do you want to use?" located in, i was going to try to edit the root file for this but cannot locate it, where is the 'guts' of this login code ????????? its not in bot.py
[code]

[2018-04-26 11:07] #514 closed, assigned to nobody

[2018-04-26 23:31] ghost opened #515 "change text color for bot"
The bot has yellow text how do i change this to make the text green and blinking?

[code]

[2018-04-28 16:33] kintaro1981 opened #516 "Bot detection?"
https://help.instagram.com/519522125107875

Is this going to impact instabot?

[2018-04-28 19:24] RafaelCartenet opened #517 "Issue with the api.follow(user_id) function"
Hey guys, I'm facing issues with the follow function.
When following a user using the follow(user_id) function I get the json response:

{u'friendship_status': {u'blocking': False,
                        u'followed_by': False,
                        u'following': False,
                        u'incoming_request': False,
                        u'is_bestie': False,
                        u'is_p

[2018-04-30 09:13] kintaro1981 opened #518 "can I choose where to store txt files?"
I would like to store txt and output files in a specific directory.
how can I do this?

[2018-04-30 11:51] kintaro1981 commented on #377
I'm interested in this too. Is It already possible?

[2018-04-30 13:31] kintaro1981 opened #519 "example with multiple condition"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-04-30 14:48] Naramsim commented on #516
Instabot could fake mouse movement requests, they are simple API requests

[2018-04-30 19:20] kintaro1981 commented on #516
It’s a default behavior or have to be enabled every time a script run?

[2018-05-01 20:27] tone87 opened #522 "'Bot' object has no attribute 'api'"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-01 20:32] #522 closed, assigned to nobody

[2018-05-02 16:36] alatraxx opened #523 "How to use this bot with multiple accounts"
Hello everybody
Is there a way to use this bot with multiple accounts at the same time?
If yes, is there a way to scheduling this function?

[2018-05-02 17:40] basnijholt commented on #523
Just run multiple instances of the script you want to use.

[2018-05-02 17:41] #493 closed, assigned to nobody

[2018-05-02 20:29] vistar opened #524 "Error after last update"
Even with clean git clone:

$ python multi_script_CLI.py
[code]

[2018-05-02 23:10] #409 closed, assigned to nobody

[2018-05-03 08:35] Naramsim opened #525 "Like comments"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-03 19:22] #451 closed, assigned to nobody

[2018-05-03 20:47] OverKilL013 commented on #470
same problem here

[2018-05-03 21:13] angeloiaia commented on #524
the same for me...

[2018-05-04 04:13] zeroyjk opened #526 "Error on Ultimate.py"
[code]
When i run.. i getting this error.. How to fix it?

[2018-05-04 04:17] zeroyjk commented on #526
Also when i run follow_user_followers.py (USER NAME) i getting this error.

[code]

[2018-05-04 07:01] basnijholt commented on #526
You are using the new version of instabot, but an old version of the
script. Please update the script, find it in examples.
On Fri, 4 May 2018 at 06:17, zeroyjk <notifications@github.com> wrote:

[2018-05-04 07:01] #526 closed, assigned to nobody

[2018-05-04 07:02] basnijholt commented on #524
You are using the new version of instabot, but an old version of the script. Please update the script, find it in examples.

[2018-05-04 07:03] Vladislas commented on #524
I had the same problem, then I did the installation again finally went well

[2018-05-04 07:03] basnijholt commented on #518
The Bot class has arguments like 'whitelist_file'. You have to set these.

[2018-05-04 07:23] vistar commented on #524
@basnijholt "multi_script_CLI.py" script? It is fully updated with clean git clone.

[2018-05-04 07:43] basnijholt commented on #524
See this line https://github.com/instagrambot/instabot/blob/master/instabot/bot/bot.py#L47

I don't understand how that error message arises... Could you please check whether you have an old version installed perhaps?

[2018-05-04 08:10] vistar commented on #524
I'm do:
- git clone https://github.com/instagrambot/instabot.git
- cd examples
- python multi_script_CLI.py

and have an error:
[code]

[2018-05-04 09:25] basnijholt commented on #524
You are having an old installation that is imported I think.

I just tried it myself and it works.

Please run `pip uninstall -y instabot` and try again.

[2018-05-04 10:03] TheGlobalist opened #527 "How much longer can we use those endpoints?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-04 12:11] angeloiaia commented on #524
It doesn't work

[2018-05-04 12:12] basnijholt commented on #524
Could you be more specific?

[2018-05-04 22:34] angeloiaia commented on #524
here's what I did:
1. in cmd I run the command pip uninstall -y instabot
2. always in cmd I run pip install -U instabot
3. I run the bot (which worked until yesterday) and I receive the error in the image

<img width="987" alt="schermata 2018-05-05 alle 00 11 27" src="https://user-images.githubusercontent.com/32001281/39655778-d56e667a-4ffb-11e8-8711-80a8c9e9cf52.png">

[2018-05-04 22:53] basnijholt commented on #524
So you are using the new version of `instabot` but your script is written
for the old version.

Change `blacklist` into `blacklist_file` in `IABOT_photyia.py`.

On Sat, May 5, 2018 at 12:34 AM, angeloiaia <notifications@github.com>
wrote:

--
Bas Nijholt
Ph.D. candidate
phone: +31613049138
address: Schepenstraat 40A, 3039 NJ, Rotterdam, NL
[image: github] <https://github.com/basnijholt>
[image: li

[2018-05-05 03:33] koky462 opened #529 "How to use repost photos that I have liked?"
Hi, I am new to python and instabot. I have searched the issues on how to repost photos. I came across issue #322 but I am still unable to repost.

@julien-h mentioned 3 steps to do it.

1. obtain media info using the bot, you'll get a json with some url
2. download the photo using the provided url, you need an external python library for this & copy caption if you want
4. use the bot to post the

[2018-05-06 09:25] kintaro1981 opened #534 "instabot don't follow its settings?"
### Purpose of your issue?
- [x] Bug report (encountered problems/errors)
- [ ] Feature request (request for a new functionality)
- [ ] Question
- [ ] Other

---

### The following sections requests more details for particular types of issues, you can remove any section (the contents between the triple ---) not applicable to your issue.

---

Paste the output of ``python -V`` here:

[code]
instabo

[2018-05-06 12:58] angeloiaia opened #535 "Unfollow error 404 and 429 in ultimate_schedule"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-07 04:09] zeroyjk opened #536 "How to make after reach 7500 following execute unfollow every one"
I hope some one can edit the script for me.. If i doing wrong script on ultimate_schedule below
I modify some script, it will execute when it reach 7500 following in your instagram account and it will automatic execute to unfollow everyone i hope i can help you guyz to run 100% automate..

on ultimate_schedule.py i just add new def job11()
[code]
modify script

[code]

[2018-05-07 04:18] zeroyjk commented on #536
i run the script i getting this error

[code]

[2018-05-07 10:30] #436 closed, assigned to nobody

[2018-05-07 13:28] jacekmichalski commented on #535
I have the same issue. Everything works fine in ultimate_schedule except unfollow_non_followers

[2018-05-08 08:15] zeroyjk opened #537 "How to upload random photo in ultimate_schedule.py"
Hello, how to upload random photo in ultimate_schedule.py
What code do i need to add?

[2018-05-10 15:49] TheLegno opened #539 "Comment my own post several times"
Hi, everybody
I tryed to comment my own medias, selecting myself as the user I want to comment, but the bot just return with 0 comments(works fine for other users).
I'd like to know how could be possible to comment only one of my medias (not 18) something like 1000 times using the comment list I have in the .txt
Thanks in advance

[2018-05-10 17:57] #457 closed, assigned to nobody

[2018-05-11 07:51] eyazilikaya commented on #484
@bdebon I will be very happy if you can share your work with us. I'm looking forward to this feature

[2018-05-11 17:53] #458 closed, assigned to nobody

[2018-05-11 21:56] 1326570 opened #540 "Bot.max_likes_to_like ignored"
### Before submitting an issue, make sure you have:
- [x ] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [ x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose o

[2018-05-11 22:53] proxzi opened #541 "ideas: for follow from database"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-12 13:44] tah62k commented on #513
try this
b.login(username ="username", password ="pass", proxy = "http://login:password@ip:port")

[2018-05-12 18:37] #513 closed, assigned to nobody

[2018-05-13 02:04] AizenSousuke commented on #539
why would anyone do that if I may ask?

[2018-05-13 10:15] TheLegno commented on #539
to mention people

[2018-05-13 21:04] Olcaey opened #542 "Hashtags Blacklist"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-14 13:23] pconin opened #543 "Change txt files path"
Hello there,
all the .txt file (friends, followed, etc...) are located on server root by default.
I'm looking to centralize it in a folder. Is there a way to change that from a config file? Or do I need to change all the occurences in the code?

Thank you

[2018-05-14 13:51] basnijholt commented on #543
Please search for this next time.

https://github.com/instagrambot/instabot/issues/518

tl;dr (again):
`bot = Bot(whitelist_file=..., blacklist_file=..., followed_file=...)`

[2018-05-14 13:51] #543 closed, assigned to nobody

[2018-05-14 13:51] #518 closed, assigned to nobody

[2018-05-14 13:52] basnijholt commented on #518
`bot = Bot(whitelist_file=..., blacklist_file=..., followed_file=...)`

[2018-05-14 19:23] TheLegno opened #544 "Can't comment again the same post"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-14 21:13] kifirkin opened #545 "Ultimate.py error"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-15 07:52] focamonca opened #546 "Can't setup the settings"
### Before submitting an issue, make sure you have:
- [x ] Updated to the latest version
- [ x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [ x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose

[2018-05-15 07:58] focamonca commented on #512
I'm interested but I cant understand how

[2018-05-15 09:03] kantona80 opened #547 "FEATURE REQUEST: Ability to tag users on photos using upload_photo"
### Before submitting an issue, make sure you have:
- [X] Updated to the latest version
- [X] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-05-15 17:46] kifirkin commented on #545
Works fine with python 3

[2018-05-16 00:33] 1326570 commented on #540
def like_hashtag(self, hashtag, amount=None):
    """ Likes last medias from hashtag """
    self.logger.info("Going to like media with hashtag #%s." % hashtag)
    medias = self.get_total_hashtag_medias(hashtag, amount)
    return self.like_medias(medias)

Seems like for liking a hashtag total hashtag is used rather than filtered.

suggestion --> split in like_total_hashtag() & like_hashtag()

[2018-05-16 01:20] 1326570 opened #548 "bot.save_user_stats() does not save updated stats"
### Before submitting an issue, make sure you have:
- [ x] Updated to the latest version
- [x ] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x ] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose

[2018-05-16 19:31] Yatchman1 opened #549 "Cookie file `cookie.txt` not found"
Please Help. I have configurated the scrip, but when runned it gives me an error [Cookie file `cookie.txt` not found]. I am sure the logn and password is correct.

Says this:

[code]

Can't find a reason why.

Thank you!

[2018-05-18 07:07] orcunbaslak commented on #548
Same issue here

[2018-05-18 10:30] Tankr3d opened #551 "Can not find username_database.txt file"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-18 15:59] youngkm3 opened #552 "Parameters not working for liking/following etc."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-19 08:01] armanlabs opened #553 "how to auto pass parameter to multi_script_CLI.py without keyboard"
### Before submitting an issue, make sure you have:
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)

### Purpose of

[2018-05-19 08:38] ghost opened #554 "Following not working"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-20 11:48] alatraxx commented on #446
@santiagobassani96 I would like to do what you said on my schedule_ultimate but I don't know how.
Can you help me please?

[2018-05-20 16:57] levensworth commented on #446
@alatraxx  sure ,no problem!
the followed.txt file contains all the successful user_id that the bot followed. if you just need to make a function to read the file, create a set with that and just call bot.unfollow aver every user_id in that set.
it will make a lot of requests and it's not the best way but at least it'll work.
If you want to discuss anything else, just email me at santiagobassani96

[2018-05-21 13:11] ghost opened #555 "How do I use my username to login?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-05-21 17:27] 1326570 commented on #549
For me this was solved by simply creating an empty file named cookie.txt in the directory you are running from.

[2018-05-21 22:35] basnijholt commented on #549
The cookie is not the issue, it just means it will create a new one when you logged in.

that is your error message, please Google it ;)

[2018-05-23 13:50] Yatchman1 commented on #549
You guys are awesome. Thanks!

[2018-05-25 01:55] lubislutfi commented on #548
same issue too...

[2018-05-25 02:28] basnijholt commented on #548
https://github.com/instagrambot/instabot/pull/556 should fix it ;)

[2018-05-25 04:49] #505 closed, assigned to nobody

[2018-05-25 05:14] sudoguy commented on #551
You need to create a file ```username_database.txt``` and write to the file those users whose pictures you want to repost.
One user - one line

[2018-05-25 05:15] #549 closed, assigned to nobody

[2018-05-25 06:09] Tankr3d commented on #551
But where I have to drag username_database.txt  and whats  about followers info? (What I have to input?)

[2018-05-26 02:55] martinlombana opened #557 "save_users_followers_into_file.py and save_users_following_into_file.py not working"
### Before submitting an issue, make sure you have:
- [x ] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-05-26 13:32] Tankr3d commented on #551
If I drag username_database.txt in examples i got this error:

Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can't find 'posted_medias.txt' file.
Can'

[2018-05-26 17:22] Naramsim opened #558 "Stories"
Hi,

Would you consider adding the possibility to upload stories?

Thanks

[2018-05-26 23:46] EightShift opened #559 "stop words.txt in ultimate_schedule"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-05-28 12:17] #464 closed, assigned to sudoguy

[2018-05-29 20:13] mpuff opened #560 "bot comments same posts more times"
Hello,

the bot comments on the same post more times, sometimes the same, what can i do?

[2018-05-31 09:57] davisonio opened #561 "Support Two Factor Authenticaion"
Bot crashes when using 2FA...would be good to support this.

[2018-05-31 19:00] #471 closed, assigned to nobody

[2018-06-02 19:24] Vladislas commented on #551
any update this issues?

[2018-06-03 14:19] 1326570 commented on #548
Need to add the use_cache part to the bot.py file as well. Seems to work well otherwise

[2018-06-03 16:11] alberdonpi opened #562 "Update devices and headers to avoid 400 error or being banned"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-03 20:16] basnijholt commented on #562
This sounds great! Would you like to make a [Pull request](https://github.com/instagrambot/instabot/compare)?

[2018-06-04 04:11] basnijholt commented on #548
Thanks for using it. I've reopened the issue. Could you be a bit more specific about where you added the use_cache?

[2018-06-04 07:26] Tankr3d commented on #551
@Vladislas I still need help!

[2018-06-04 08:01] EightShift commented on #551
just create missed files

[2018-06-04 08:03] EightShift commented on #561
I disabled 2fa logged into the bot and turned on again 2fa.

[2018-06-05 15:32] bkxwy opened #565 "Like and follow from user followers"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-05 17:04] lubislutfi commented on #548
In **bot/bot.py**
Change:
`def get_user_info(self, user_id):
 return get_user_info(self, user_id)`
To:
`def get_user_info(self, user_id, use_cache):
 return get_user_info(self, user_id, use_cache)`

[2018-06-05 17:17] basnijholt commented on #548
Good point! I've just changed ithttps://github.com/instagrambot/instabot/commit/b7404c645b31c4424dbdf8beb4035d25307a484a

[2018-06-06 14:20] #474 closed, assigned to nobody

[2018-06-06 19:21] basnijholt commented on #565
You are mixing tabs and spaces.

[2018-06-08 10:42] Tankr3d commented on #551
If I create the missed file ( posted_medias.txt ) and drag it in examples I got this error:

2018-06-08 12:38:30,593 - INFO - Logged-in successfully as 'machine4meme' using the cookie!
Getting media info: 100%|██████████████████████████████████████████████████████████████| 72/72 [00:28<00:00,  2.12it/s]
Reposting photos:   0%|

[2018-06-08 13:41] JoeFertig commented on #562
Sounds nice. Can you update the FULL code and paste it into your repository? Thank you :)

[2018-06-08 13:42] Doblanko opened #567 "Automatically delete DM conversations"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-09 06:01] alberdonpi commented on #562
Sure! I’ve been out these days, but I’ll prepare it and upload it next week!

[2018-06-09 10:44] JoeFertig commented on #562
Thanks that would be awesome!

alberdonpi <notifications@github.com> schrieb am Sa. 9. Juni 2018 um 08:01:

[2018-06-11 00:43] zeroyjk opened #569 "Error on follow_user_followers.py"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-14 12:20] Naramsim commented on #562
Any updates?

[2018-06-15 10:09] #427 closed, assigned to nobody

[2018-06-15 14:42] #525 closed, assigned to nobody

[2018-06-16 01:13] lubislutfi commented on #562
Still waiting. :)

[2018-06-16 01:44] alberdonpi commented on #562
Sorry guys, I’ll do it this week, I got a “checkpint_challenge” problem with one of the accounts and I was implementing the solution to use email and phone codes using the api so it works with proxies also. I’ll upload all the code together.

[2018-06-17 05:26] lubislutfi commented on #562
Sounds nice. I hope you can insert more device settings and update with "get random device" too, so it will choose the device automatically. thanks

[2018-06-17 21:45] basnijholt commented on #499
This should be fixed.

[2018-06-17 23:52] Infobesity opened #570 "Photo does not have a compatible photo aspect ratio"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-18 00:16] basnijholt commented on #570
Only photos between certain aspect ratios are allowed, this exactly the same as in the Instagram app.

Resize your photos ;)

If you don't want to do it by hand, I wrote a function that automatically cuts the photo based on entropy maximization: https://github.com/basnijholt/instacron/blob/master/instacron.py#L262

[2018-06-18 00:16] #570 closed, assigned to nobody

[2018-06-18 00:18] basnijholt commented on #562
I don't think this automatic switching of devices makes sense. Don't you think that Instagram would find that even more suspicious when you switch between devices all the time?

[2018-06-19 05:07] alberdonpi commented on #562
Just did the pull request, is the first time I'm doing one so please tell me if I need to make any changes on it!
I will finish the code to fix the "checkpoint_challenge" and test it on my app before creating another merge request.

[2018-06-20 00:25] #562 closed, assigned to nobody

[2018-06-20 02:44] chadholman opened #572 "Follow Users by Hashtag-Allow Business"
I'm hoping someone can help me include businesses when following users by hashtag rather than: "info: is BUSINESS, skipping!"

I've gone through bot.py and bot_filter.py and tried changing some variables with no effect.

[2018-06-20 17:45] basnijholt commented on #572
https://github.com/instagrambot/instabot/blob/master/instabot/bot/bot.py#L69

`instabot.Bot(filter_business_accounts=False)`

[2018-06-20 23:35] Dan-Wood commented on #545
I don't know why this is closed .. It's pretty concerning as it happens daily and things aren't being ran..

I got hit with three in a row ..

Python 2.7.3

[code]

[2018-06-20 23:49] chadholman commented on #572
Thanks @basnijholt, I had changed line 69 to false in the past without any effect. I've fetched the latest instabot and attempted again with no effect.
Should I be adding or modifying this line: instabot.Bot(filter_business_accounts=False) somewhere? I'm running an ultimate schedule.
Regards.

[2018-06-20 23:55] chadholman commented on #572
this is the code from the script i'm running, making the change to False in bot.py has no effect:

# -*- coding: utf-8 -*-

from glob import glob
import os
import sys
import threading
import time

sys.path.append(os.path.join(sys.path[0], '../../'))
import schedule
from instabot import Bot, utils

import config

bot = Bot(comments_file=config.COMMENTS_FILE,
          blacklist_file=config.BLACKLIS

[2018-06-21 18:35] imachref opened #574 "Follow Users & allow Business + private acc"
guys i want to stop bot filltre of business accounts& private acc , i edited bot_filtre & bot.py but still noth !
im still getting info: is BUSINESS, skipping!
im trying to use like_and_follow_last_user_media_likers.py
i really need to make this done

[2018-06-21 18:46] basnijholt commented on #572
[code]
should change into
[code]

[2018-06-21 18:50] basnijholt commented on #545
@Dan-Wood, could you try https://github.com/instagrambot/instabot/pull/575?

[2018-06-21 18:50] basnijholt commented on #574
Did you try to search for this at all?

https://github.com/instagrambot/instabot/issues/572

[2018-06-21 18:57] imachref commented on #574
i did & i tryed every solution they said it worked but i didnt work for me , even desabling the hole user_filtre & make it False , still not working

[2018-06-21 18:58] basnijholt commented on #574
Could you post what exactly you tried?

[2018-06-21 19:01] imachref commented on #574
urs https://github.com/instagrambot/instabot/blob/master/instabot/bot/bot.py#L69

instabot.Bot(filter_business_accounts=False)
that didnt work ,

[2018-06-21 19:04] imachref commented on #574
alter "filter_users" to False in bot.py
still didnt work

[2018-06-21 21:44] imachref commented on #572
bot = Bot(comments_file=config.COMMENTS_FILE,
blacklist_file=config.BLACKLIST_FILE,
whitelist_file=config.WHITELIST_FILE,
friends_file=config.FRIENDS_FILE)
where to find this ? i couldn't find it in bot.py ?

[2018-06-21 22:14] Dan-Wood commented on #545
@basnijholt sure, it's intermittent though. I'll keep an eye on it.

[2018-06-21 23:15] chadholman commented on #572
Thanks @basnijholt this works great now.
@imachref this goes in the script you are running, no need to modify bot.py

[2018-06-21 23:17] chadholman commented on #572
@basnijholt I wonder if you can skip personal accounts and only focus on following business, as in B2B only?

[2018-06-22 02:15] Dan-Wood commented on #545
@basnijholt

[code]

[code]

[code]

[2018-06-22 04:33] Dan-Wood commented on #545
[code]

I stand corrected, seems to happen ... a lot...

[2018-06-22 06:36] #452 closed, assigned to nobody

[2018-06-22 16:54] basnijholt commented on #545
From your error message I can see that you are not using the code from the PR:
[code]
OTOH I see that I only fixed one of the two errors

there is also this one that I should address:
[code]

[2018-06-22 17:04] basnijholt commented on #545
@Dan-Wood I updated the code of #575 to fix both errors. I am pretty sure that it works now. Could you try it?

[2018-06-22 23:11] chadholman opened #576 "Ultimate Schedule: INFO - Bot Stopped (Case 1)"
Please help with these random bot errors. Appears it was trying to run schedule.every(1).days.at("6:40").do(follow_users_from_hastag_file)

2018-06-23 06:38:03,735 - INFO - Nothing to like.
2018-06-23 06:40:01,448 - ERROR - Request returns 404 error!
Traceback (most recent call last):
  File "cloneultimate.py", line 54, in <module>
    schedule.run_pending()
  File "/usr/local/lib/python3.6/site-p

[2018-06-22 23:15] chadholman opened #577 "Ultimate Schedule: INFO - Bot Stopped (Case 2)"
Please help with these random bot errors. Appears it was trying to run
[code]

[2018-06-22 23:17] basnijholt commented on #576
Can you try https://github.com/instagrambot/instabot/pull/575 ?

[2018-06-22 23:23] basnijholt commented on #577
Can you try #575?

[2018-06-22 23:35] chadholman commented on #576
@basnijholt api.py returns an error when including these lines:  E0001:unindent does not match any outer indentation level (<string>, line 647)

The file returns an error on open to begin wth: E1101:Instance of 'API' has no 'followers' member

[2018-06-22 23:46] basnijholt commented on #576
How are you running it?

I think you are doing it wrong.

[2018-06-23 00:55] Dan-Wood commented on #545
Sure, it's the weekend here so expect delayed responses :)

[code]

[2018-06-23 01:35] chadholman commented on #576
@basnijholt
i'm referring to the error in the attached.
Otherwise the bot seems to be functioning in terminal when running my script. so far.

I'm running the same script across 3 accounts. Out of the two cases I posted today, my third process was still running ok.

![screen shot 2018-06-23 at 10 59 01 am](https://user-images.githubusercontent.com/40111610/41804373-b36b5f4c-76d4-11e8-8e2d-9f43d19d

[2018-06-23 02:04] basnijholt commented on #576
I am sorry but you are the one that introduced the error there yourself.

Did you copy paste the code from GitHub or something?

You should checkout the repo with:
[code]

[2018-06-23 03:24] chadholman commented on #576
@basnijholt yes, thank you for pointing it out and have grabbed the latest.

[2018-06-23 11:05] Dan-Wood commented on #545
[code]

[2018-06-23 14:06] lubislutfi commented on #466
I modified ultimate_schedule script & use it for following user followers. In short, I set the follow delay between 3 and 5 minutes.
Everything is ok, even for many days when I  run only one script(one account).
But the scripts return 400 error when I copy  that script in multiple folder for running multiple different account simultaneously. I've changed the device setting. One device for one acco

[2018-06-23 17:10] anisayari commented on #560
Try to save your media commented in a file and in a list and check before comments that the media_id is not in your list :) .

[2018-06-23 18:07] basnijholt commented on #545
You're not using my code, still.

You should pip uninstall instabot.

[2018-06-24 00:52] anisayari commented on #82
Any news ? As the function stay in a TODO tag :)

[code]

[2018-06-24 02:04] Dan-Wood commented on #545
@basnijholt whoops forgot about that!

[code]

[2018-06-24 10:49] Dan-Wood commented on #545
[code]

[2018-06-24 16:29] Tankr3d opened #581 "Problems with repost_best_photos_from_users"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-06-24 19:37] imachref commented on #572
@basnijholt  @chadholman
Traceback (most recent call last):
  File "instabot/examples/like_and_follow_last_user_media_likers.py", line 24, in <module>
    bot = Bot(comments_file=config.COMMENTS_FILE,
this is what i get ..

[2018-06-24 20:08] basnijholt commented on #572
https://www.codecademy.com/learn/learn-python

[2018-06-24 20:23] #545 closed, assigned to nobody

[2018-06-24 20:24] basnijholt commented on #576
Fixed by https://github.com/instagrambot/instabot/pull/575. Please make sure that you are really actually running the latest master before opening any new issues.

[2018-06-24 20:24] #576 closed, assigned to nobody

[2018-06-24 20:25] basnijholt commented on #577
Fixed by https://github.com/instagrambot/instabot/pull/575. Please make sure that you are really actually running the latest master before opening any new issues.

[2018-06-24 20:25] #577 closed, assigned to nobody

[2018-06-24 20:25] basnijholt commented on #574
Duplicate of https://github.com/instagrambot/instabot/issues/572.

[2018-06-24 20:25] #574 closed, assigned to nobody

[2018-06-24 21:49] basnijholt commented on #569
Thanks for reporting, this is fixed by https://github.com/instagrambot/instabot/commit/b529a8ee9b10b88aad021a18e2d39dd586866815.

[2018-06-24 21:49] #569 closed, assigned to nobody

[2018-06-24 21:50] basnijholt commented on #559
This will definitely not work, it's no magic.

OTOH this is not hard to implement yourself ;)

[2018-06-25 04:36] basnijholt commented on #581
So
[code]
returns `True`.

This means the problem is here https://github.com/instagrambot/instabot/blob/master/instabot/api/api_photo.py#L21
or
https://github.com/instagrambot/instabot/blob/master/instabot/api/api_photo.py#L16

Either `api/api_photo.py` has to change or the example script.

[2018-06-25 04:40] basnijholt commented on #581
I've opened https://github.com/instagrambot/instabot/pull/582 which should fix this problem.

[2018-06-25 09:02] kintaro1981 commented on #536
is not dangerous to unfollow everyone multiple times in a short time frame like that?

[2018-06-25 13:50] Tankr3d commented on #581
@basnijholt Thanks for your help but i still can not get it to work here the error code if i changed api_photo and repost_best_photos_from_users as you wrote:

2018-06-25 15:44:19,712 - INFO - Logged-in successfully as 'machine4meme' using the cookie!
Getting media info: 100%|███████████████████████████████████████████████████████████| 84/84 [00:37<00:00,  2.15it/s]
Traceback (most recent call las

[2018-06-25 16:20] imachref commented on #572
comeon dude ..

[2018-06-25 18:09] basnijholt commented on #572
I am sorry, but I can't debug your code from just two lines of the traceback.

Also, I think that you don't really understand what you are doing, so I really recommend learning the basics of Python (which is very easy.)

[2018-06-25 18:42] basnijholt commented on #581
Do you get this error for the very first photo or after several?

[2018-06-25 18:44] Tankr3d commented on #581
@basnijholt If this error occurs, the bot has not yet loaded a photo.

[2018-06-25 18:45] basnijholt commented on #581
So it never ever works?

[2018-06-25 18:46] Tankr3d commented on #581
@basnijholt No

[2018-06-25 19:05] basnijholt commented on #581
@sudoguy should probably look at it then because he wrote this script.

[2018-06-25 19:14] Tankr3d commented on #581
@basnijholt Hopefully he'll answer

[2018-06-26 16:48] imachref commented on #572
.. in exactly like_and_follow_last_user_media_likers.py
thers only bot = Bot() which i can remplace it with
bot = Bot(comments_file=config.COMMENTS_FILE,
blacklist_file=config.BLACKLIST_FILE,
whitelist_file=config.WHITELIST_FILE,
friends_file=config.FRIENDS_FILE,
filter_business_accounts=False)

![shit](https://user-images.githubusercontent.com/40472528/41927077-fa3b4614-7925-11e8-9c72-811edda7a88

[2018-06-26 16:53] basnijholt commented on #572
change it into:

[code]

[2018-06-26 17:18] imachref commented on #572
worked <3 thnx alooot

[2018-06-28 05:39] ivadenis commented on #547
Up vote! I see it implemented here https://github.com/mgp25/Instagram-API/blob/master/src/Request/Usertag.php

maybe we can work on a port

[2018-06-29 12:25] #468 closed, assigned to nobody

[2018-06-30 20:49] valentinpompa opened #583 ""like_medias_by_location.py" automatically stops."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-01 03:53] adenisot commented on #446
@santiagobassani96 Hi guys, so do you have an idea of what is the best way ? For my side, I just want to unfollow people followed by the script. But I don't want that the script try to unfollow an account already successfully unfollowed...maybe put a condition who check in another file the successful_account_unfollowed.

[2018-07-01 15:02] mycryptohustle commented on #553
Why not run individual scripts instead?

[2018-07-02 21:46] #483 closed, assigned to nobody

[2018-07-02 23:52] diorox commented on #256
How can I do that?

[2018-07-03 03:11] eslopezra opened #584 "How to save users followers into a file but with their username."
I'm trying to use the function get_username_from_user_id() because I want to like users from a file but it's  only possible if the file has usernames, and not user id, so I tried to convert the user id obtained with the code save_users_followers_into_file() and obtain their usernames for use them with the new code, but it's not possible.

What can I do with this problem?

[2018-07-03 03:22] #584 closed, assigned to nobody

[2018-07-03 03:26] eslopezra opened #585 "How can I get the usernames of users having their user id and add them into a file."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-03 04:09] eslopezra opened #586 "Function that provides the usernames from a file with users id."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-03 14:32] basnijholt commented on #581
This isn't fixed yet.

[2018-07-05 14:37] #497 closed, assigned to nobody

[2018-07-05 15:37] #477 closed, assigned to nobody

[2018-07-07 09:49] #491 closed, assigned to nobody

[2018-07-08 07:37] kintaro1981 commented on #484
@bdebon can you share it?

[2018-07-09 18:51] tearstheartist opened #587 "Need help"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-09 19:20] basnijholt commented on #587
Use the latest master :)

[2018-07-10 00:42] #515 closed, assigned to nobody

[2018-07-10 10:52] nim444 opened #588 "Account banned"
Your account has been disabled for violating our terms: http://instagram.com/about/legal/terms/ (403) (/accounts/login/ajax/)

Any one can explain this issue how happen ?

[2018-07-11 20:38] #517 closed, assigned to nobody

[2018-07-13 02:54] iransales commented on #567
any news @Doblanko ?

[2018-07-13 04:30] yamitha opened #589 "message_users.py script's error in the 4th option 4: Message LatestMediaLikers Of A Page"
when i choose the 4 option to message Latest Media Likers of a page
then the option to enter a page comes up here:
what page likers do you want to message? :
eventhough i type a url or the username of that page nothing happens .
please anyone tell me how to use this script!!!!!

[2018-07-13 15:13] #519 closed, assigned to nobody

[2018-07-13 19:49] #516 closed, assigned to nobody

[2018-07-14 00:56] diorox commented on #565
Use filtration false
`bot.like_user(follows, amount=2, filtration=False)`

[2018-07-14 06:25] Ranjeet20 commented on #232
usage: instagram.py [-h] username wordlist threads
instagram.py: error: too few arguments

what this mean?

[2018-07-14 19:20] efazati opened #591 "All comments from media"
### Purpose of your issue?
- [ ] Bug report (encountered problems/errors)
- [x] Feature request (request for a new functionality)
- [x] Question
- [ ] Other

---

### Get all comments from media

---

Code:

[code]

---

### Describe your issue

I want to get all comments from media, I saw graph query language from an online website but I couldn't do the same in api system
Do you know how I should

[2018-07-15 18:24] #523 closed, assigned to nobody

[2018-07-16 08:14] rakshith1997 opened #592 "follow_users_by_hashtag"
python follow_users_by_hashtag.py
usage: follow_users_by_hashtag.py [-u U] [-p P] [-proxy PROXY]
                                  hashtags [hashtags ...]
follow_users_by_hashtag.py: error: too few arguments

[2018-07-16 09:50] kintaro1981 opened #593 "suddendly stopped to work follow_user_followers.py"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-07-16 10:18] kintaro1981 commented on #593
I tried [this fix](https://github.com/instagrambot/instabot/issues/569) and the issue changed to this:

[code]

[2018-07-16 10:26] kintaro1981 commented on #593
I solved with this:
https://github.com/instagrambot/instabot/commit/9f9c054db0bcf6931a9a9a98815a8919e19ba6b4

[2018-07-16 10:28] kintaro1981 commented on #592
the usage says that you need to write at least a hashtag

`python follow_users_by_hashtag.py hashtag`

[2018-07-16 21:58] #470 closed, assigned to nobody

[2018-07-17 10:58] #527 closed, assigned to nobody

[2018-07-17 23:29] #524 closed, assigned to nobody

[2018-07-18 04:29] #529 closed, assigned to nobody

[2018-07-18 12:10] Niall7459 commented on #588
Making to many requests to fast.

[2018-07-18 12:10] Niall7459 opened #594 "Check dms"
Is there a way to check your dms.

[2018-07-18 13:19] cleve02 opened #595 "INSTAGRAM API CHANGE"
Instagram will change its api by 31st July 2018 so which features of the bot will be affected?

[2018-07-19 10:01] #534 closed, assigned to nobody

[2018-07-20 03:42] zeroyjk opened #596 "Getting error in follow_user_followers.py when i execute the followers that have more than 100k Followers"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-20 14:50] #535 closed, assigned to nobody

[2018-07-20 15:57] kintaro1981 commented on #593
and now follow_user_followers.py  started to give this error:

[code]

[2018-07-20 15:58] kintaro1981 commented on #596
as you can see here:
https://github.com/instagrambot/instabot/issues/593

I solved with this: https://github.com/instagrambot/instabot/commit/9f9c054db0bcf6931a9a9a98815a8919e19ba6b4

but now I have this problem here:
https://github.com/instagrambot/instabot/issues/593#issuecomment-406644399

[2018-07-20 16:04] basnijholt commented on #593
Use master where this is fixed.

[2018-07-20 17:39] kintaro1981 commented on #593
@basnijholt I uninstalled with `sudo pip uninstall -y instabot` and reinstalled with `sudo pip install -U instabot` and now I have the [original problem](https://github.com/instagrambot/instabot/issues/593#issue-341453150).

[2018-07-20 19:50] basnijholt commented on #593
That's because you are not installing master

Do pip install https://github.com/instagrambot/instabot/archive/master.zip

[2018-07-20 19:56] kintaro1981 commented on #593
I'm on macOS 10.13.2

I have done:

`sudo pip uninstall -y instabot`

then:

`sudo pip install https://github.com/instagrambot/instabot/archive/master.zip`

if I launch "follow_user_followers.py usernametofollowfollowers" I get this:

[code]

[2018-07-21 09:08] #537 closed, assigned to nobody

[2018-07-22 06:18] valentinpompa commented on #552
Use "filter_users=False" in Bot section.

Example:

`bot = Bot(filter_users=False, like_delay=180, max_likes_to_like=80)`

Then you can have that error.

[2018-07-22 06:27] valentinpompa commented on #484
Please help us share it!

[2018-07-22 12:37] bdebon commented on #484
Hey!
Don't have much time to explain everything so if you want a plug and play solution, just download the customized bot here :
https://bdebon.com/lab/instabot.zip

Then do the instruction that are at the end of the ReadMe and enjoy!
If somebody wants to compare what is different in my sources to try to add it to the original repo, it would be awesome ! This is the part for which I unfortunately

[2018-07-22 14:26] kintaro1981 commented on #593
This is my out up uninstalling and installing instabot:

[code]

and this is my actual apy.py: https://pastebin.com/Zgs0artZ

[2018-07-24 09:33] kintaro1981 commented on #593
anyone can help please?

I add that I'm on macOS 10.13.2

[2018-07-24 09:35] kintaro1981 commented on #593
I tried again right now and it's working... I don't know what to say. I'm a little confused.

[2018-07-24 23:27] #541 closed, assigned to nobody

[2018-07-26 01:53] kasumi009 opened #597 "bot doesn't follow delay"
So i keep the default dely just like it is, i run  infinity_hashtags_follower, and it seems that the follow delay is less than 5-10 seconds.

[2018-07-26 11:22] #539 closed, assigned to nobody

[2018-07-26 19:08] lukasz00500 commented on #484
the only change that I can see in your "like_user_followers.py" file is limit of 30000 accounts

[2018-07-26 19:14] bdebon commented on #484
Actually there are also changes on the bot.py file but it is on another repository that’s why I find it hard to commit my changes...

Envoyé de mon iPhone

[2018-07-26 21:22] #542 closed, assigned to nobody

[2018-07-27 19:57] #544 closed, assigned to nobody

[2018-07-27 22:07] kintaro1981 commented on #593
and now started again with the `AttributeError: 'module' object has no attribute 'JSONDecodeError'`

[2018-07-27 22:08] kintaro1981 commented on #596
@zeroyjk have you solved?

[2018-07-27 22:20] basnijholt commented on #593
Oh I know why that happens now. `json.decoder.JSONDecodeError` doesn't exist in Python 2 but does exist in Python 3.

[2018-07-27 22:23] basnijholt commented on #593
I think I fixed it with https://github.com/instagrambot/instabot/commit/542a35d5ef510183999e5aa825d2f1a0b113a0f1.

Could you install the latest version from master and try it out?

[2018-07-27 22:42] kintaro1981 commented on #593
it's seems solved now.

[2018-07-27 22:44] kintaro1981 commented on #593
do you recommend to update to Python 3 anyway?

[2018-07-28 09:03] #546 closed, assigned to nobody

[2018-07-28 09:03] #512 closed, assigned to nobody

[2018-07-29 01:56] #540 closed, assigned to nobody

[2018-07-30 03:43] syarifid opened #598 "Follow Base on Followers"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-07-30 04:31] #598 closed, assigned to nobody

[2018-07-30 15:40] rainerroesing opened #599 "Like_hashtags_from_file error"
When running like_hashtags_from_file I receive this error and would appreciate any help:

2018-07-30 17:15:56,096 - INFO - Logged-in successfully as '******'!
2018-07-30 17:15:56,096 - INFO - Saved cookie!
**coercing to Unicode: need string or buffer, list found**
2018-07-30 17:15:56,097 - INFO - Hashtags: []
2018-07-30 17:15:56,409 - INFO - Bot stopped. Worked: 0:00:14.151062
2018-07-30 17:15:56,

[2018-07-31 00:52] BigClunk opened #600 "unfollow_non_followers.py Error"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-01 09:35] #554 closed, assigned to nobody

[2018-08-01 22:05] lukasz00500 opened #601 "Adding new feature Skipped.txt Likedusers.txt"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-08-01 22:07] basnijholt commented on #601
Thanks for taking the time to check this!

Check you perhaps make a ["pull request"](https://github.com/instagrambot/instabot/pulls) with your changes?

[2018-08-01 22:08] lukasz00500 commented on #601
I do not know too much how to do it I'm a beginner :)

[2018-08-01 22:10] basnijholt commented on #601
It's not too difficult though, just edit it here https://github.com/instagrambot/instabot/edit/master/instabot/bot/bot_filter.py

Otherwise, I am afraid that no-one will implement those changes.

[2018-08-01 22:33] bdebon commented on #601
@lukasz00500 it's true that the lists should be checked before fetching users. I did not code it because I did what was the easier for me as I am not very good with Python. I would like your changes to be merged. I could use an up-to-date version of the bot which behave like I wanted to so it would be amazing.
Glad to see that my work served you a little and thank you very much for trying to share

[2018-08-01 22:45] lukasz00500 commented on #601
I will try  tomorrow, anyone fell free to do it, if you have any experience

[2018-08-02 14:26] Areahints commented on #572
hello making the change to False in bot.py has no effect!
` filter_business_accounts=False,`

i am running the `multi_script_CLI.py` file

please tell me where to input your code @basnijholt

[2018-08-02 15:15] kintaro1981 commented on #600
have you installed instabot with:

`pip install -U instabot
`

right?

[2018-08-02 15:15] #593 closed, assigned to nobody

[2018-08-02 15:19] kintaro1981 commented on #555
Example from https://github.com/instagrambot/instabot/blob/master/examples/save_users_followers_into_file.py:

[code]

as you can see in this way the script will parse arguments

[2018-08-02 20:12] lukasz00500 commented on #601
ok I tried to implement this function to the latest version of bot and i have maybe a stupid problem.

i added function to add user to liked.txt  but after that, bot is still liking  photos of users who are on that list. can anyone help me ?
![20180802_221217](https://user-images.githubusercontent.com/27085533/43608710-12561a28-96a2-11e8-9ba3-6624e2835d78.jpg)

[2018-08-03 06:44] alessiofx commented on #499
hi, how to disable max_followers_to_following_ratio ?

[2018-08-03 18:14] lukasz00500 commented on #484
@bdebon  i have recent version of this bot with likeduserlist feature, I don't know if is implemented in the best possible way, but it works very well. I also added the functions of adding private accounts to skipped.txt contact me if you are interested :)

[2018-08-03 21:22] valentinpompa opened #604 "API CHANGE. I can’t sign any more from a new account today."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-04 10:41] lukasz00500 commented on #604
I think That its related to cookie file and crsftoken try to rename cookie.txt and let bot create new one

[2018-08-04 13:17] maykbrito commented on #604
Same here.
This worked  great for me
https://github.com/instagrambot/instabot/issues/491#issuecomment-380574716

[2018-08-04 20:20] valentinpompa commented on #604
@lukasz00500 I've already tried.

[2018-08-04 21:33] valentinpompa commented on #604
Something is happening... I press "That was me" from another Instagram App and It still ask me the "challenge". I delete Cookie file and anything is working. This could be the end for this script.

I try to login from other phone, then Instagram ask me for a "challege" with SMS Code. I put the SMS Code and It works now, but only with SMS Code and not "That was me"".

[2018-08-04 21:40] lukasz00500 commented on #604
I also had this problem, after several login attempts I finally managed to log in

[2018-08-05 12:06] polzav opened #605 "Many 404 errors – Normal?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-05 14:01] Areahints commented on #572
Hello, in the file `follow_users_by_hashtag.py` in line 22
`bot = Bot (filter_business_accounts=False)`

despite this, when i run `multi_script_CLI` and select follow from hashtag i still see `info: is Business, skipping`

[2018-08-07 07:59] Thebuzo opened #606 "Whenever I try to run Repost_photo.py it says, Media id empty. Please Help."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-07 09:06] Areahints commented on #599
hello, i searched on stackoverflow, it seems your error is a python one, what version of python do you have installed and what os are you running?

[2018-08-07 14:37] ochoadan commented on #536
the limit to not get a temporary ban is about 200 a day but with the temporary ban is about 600 every 2 days that is after the ban u can start unfollowing again

[2018-08-07 15:39] luke-edward commented on #420
how to run that script
chcp 65001

[2018-08-07 16:11] Areahints commented on #572
help please @basnijholt @chadholman

[2018-08-07 18:10] rainerroesing commented on #599
Hey, I have python 2.7.10 running under osx 10.13.5

[2018-08-07 20:02] etostein opened #607 "Instagram's error message: feedback_required"
It shows me "Instagram's error message: feedback_required" whenever i try to like users from last media posted , it happens to one account only, can someone help?

[2018-08-08 03:27] #557 closed, assigned to nobody

[2018-08-08 08:26] nim444 opened #608 "Follow From saved users in file -Help"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-08 08:57] kintaro1981 commented on #608
With this?
https://github.com/instagrambot/instabot/blob/master/examples/follow_users_from_file.py

or you can do it directly without a source file with this:
https://github.com/instagrambot/instabot/blob/master/examples/follow_user_followers.py

[2018-08-08 09:08] kintaro1981 opened #609 "if "Already following, skipping!" add to followed.txt or another txt file"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-08-08 17:22] Areahints commented on #599
from what i read here ```https://stackoverflow.com/questions/30653360/python-writing-to-csv-typeerror-coercing-to-unicode-need-string-or-buffer```
the error might be coming from a modification to the file/files been written, id suggest you pull the latest update via `git pull origin master` and be careful of spaces when editing your .py files

[2018-08-08 17:27] #558 closed, assigned to nobody

[2018-08-08 20:47] BigClunk commented on #600
yes thats the first thing i did when i downloaded python

[2018-08-09 14:33] Areahints commented on #608
when i try to save users to file i get 404 error

[code]

[2018-08-09 16:03] e-nicolas opened #610 "Cannot unfollow private accounts(requested)."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-09 17:27] kintaro1981 opened #611 "filter followed.txt at the beginning of the following process instead of one by one"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-08-09 17:35] kintaro1981 commented on #611
@lorenzonodari can you give me info about that?

come mai vengono filtrati uno alla volta invece che come gli skipped che invece sono filtrati all'inizio del processo? ho notato che inizialmente avevi fatto la stessa modifica che avevo pensato anche io, ovvero di modificare ovvero questa:
https://github.com/instagrambot/instabot/pull/566/files#diff-e0ca3bd148cbc379bcd7ca544e57b9a4

[2018-08-11 10:35] brain-wash opened #612 "How to add "username" when reposting images"
Hi, I want to use "repost_best_photos_from_users.py" but I want to give credits to the account who originally posted the image. Therefor I want to add their name to the caption, but I am still quite new to python.

I found the username being used for downloading the image in bot_photo.py in line 22:
username = media['user']['username']

Now I tried to add the username to the caption by chaning lin

[2018-08-11 14:19] zakasmi opened #613 "can not get ranked content on hashtags !!"
when I use getHashtagFeed() or getTotalHashtagFeed . it doesn't get the Top 9 posts ,
how can I get the Top 9 Posts (ranked content ) , I already set ranked_content=true , but it doesn't work
any help will be much appreciated !!

[2018-08-12 15:25] Naramsim commented on #104
Hello, I can't find a function to retrieve the blocked users. Not even in the APIs.

Where can I find it?

[2018-08-12 19:28] kintaro1981 commented on #611
Have I only need to duplicate skipped.txt behavior?

[2018-08-12 21:15] callum8004 commented on #559
its seems mad that the ultimate and ultimate-schedule vary so much. surely ultimate schedule should be a duplicate of ultimate.py but with the schedule module added in.

[2018-08-13 15:56] chicco785 opened #614 "Ultimate.py error when invoking bot.like_timeline"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-13 16:25] callum8004 commented on #537
I'm also struggling with this as I'm not sure where to add the photos

Confif files states:

PICS_PATH = "/Path/to/pics/folder/"
# The path of the directory containing the photos the bot will upload
# NOTE: Being a directory, it must end with '/'

but where in ultimate.py would I add this?

Callum

[2018-08-13 17:11] chicco785 commented on #614
looking at the code is suspect that 'feed_items' is correct rather than 'items'

[2018-08-13 21:31] erfanghlm commented on #610
???

[2018-08-15 20:02] kintaro1981 opened #615 "get followed hashtags from followers and following"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-08-16 08:50] kintaro1981 commented on #611
@basnijholt I duplicated the skipped.txt behavior and it's working... the only problem is that it will be overwritten in the next instabot update.

[2018-08-16 09:27] kintaro1981 commented on #615
@basnijholt @bstillman @ohld @sudoguy
I would like to collect followed hashtags from my followers and following and saving them in two separated files so I could do some analysis about what hashtags is using my niche.

[2018-08-16 19:04] AlloryDante opened #617 "Cannot set a proxy from list"
##### Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before

[2018-08-17 08:36] #561 closed, assigned to nobody

[2018-08-18 14:53] penezis opened #618 "Question about infinit hashtag following"
Hello.

I have a question about how bot finds pictures, which owners should be followed.

Hashtag/hastags I'm using are not so common, mostly technical stuff, so accounts are rearer than those, who are interested in usual everyday things like celebrities, cats and dogs. for example.

The thing is, I have a feeling bot is looking just in the latest pictures, so I get very few followings. Is it true

[2018-08-18 18:40] #548 closed, assigned to nobody

[2018-08-21 11:17] #551 closed, assigned to nobody

[2018-08-23 06:40] Areahints commented on #557
Same issue here!

[2018-08-23 16:59] santhoshraje opened #620 "Unable to make changes to auto_post.py"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-23 20:14] Lucas-Alexander opened #621 "Missing checks on limits/reached_limit() in several core functions"
In several functions of bot_likes.py, most notably "like_hashtag()", no checks are made on reached_limit('likes') to actually enforce the limits set.

This applies to
* like_comment()
* like_media_comments()
* like_medias()
* like_timeline()
* like_user()
* like_hashtag()
* like_geotag()

in bot_likes.py.

In short, only 4 of 11 like functions actually adhere to the limits set.
The same is true of

[2018-08-23 23:43] cozpler opened #622 "Error in ultimate.py"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-24 16:09] Areahints commented on #572
I'm leaving this behind to help anyone who might need, if you followed this guide https://instagrambot.github.io/docs/en/Installation_on_Unix.html
then you installed both the **pip** and **github** version, what happens is that the `bot.py` file you need to edit is in `path-to-pip-installation`  editing the `bot.py` in the **github** version wont affect it.

[2018-08-24 17:48] lukasz00500 opened #623 "message users by User_ID"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-25 01:55] EightShift opened #624 "Can't using emoji in comments"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-25 19:23] brain-wash opened #626 "Randomize "repost best photos from users""
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-26 23:52] Olcaey commented on #595
Not sure if there is anything affected at the moment. Let's see when there is anything messed up...

[2018-08-27 15:38] kintaro1981 commented on #626
If you read the example it already check if media is already posted.

To randomize you need use shuffle.

add this to repost_best_photos_from_users

after line 12
`import random
`

after line 90
`users = random.choice(users)
`

now the variable `users` contains only one random picked account from the file

[2018-08-27 16:45] brain-wash commented on #626
@kintaro1981
Thank you for the response! I added those lines, unfortunately I get following error when I try to start the script:

[2018-08-27 16:55] kintaro1981 commented on #626
same problem :D
It's because it is expecting a list

try replacing all the code from row 90 to the end with this:

[code]

p.s. it works with username_database.txt

[2018-08-27 17:11] brain-wash commented on #626
@kintaro1981
Hmm, it still is not working.
Now there is a NameError: name 'user' is not defined

[2018-08-27 17:19] kintaro1981 commented on #626
are you running it with `-file username_database.txt`?

[2018-08-27 17:23] brain-wash commented on #626
At line 20 there is USERNAME_DATABASE = 'username_database.txt' and I added all of the account names in the username_database.txt file

[2018-08-28 06:35] vladpolyanskiy commented on #624
Can't post emoji in Windows (appears as random chars) but works just fine in Linux.

Reading comments for a file.

[2018-08-28 09:23] kintaro1981 commented on #626
I'm running like this:

`python3 ./instabot/examples/repost_best_photos_from_random_user.py -file username_database.txt
`
and username_database.txt is located in `./`

I duplicated `repost_best_photos_from_users.py` creating from it `repost_best_photos_from_random_user.py` to maintain the original one

my repost_best_photos_from_random_user.py is like this:

[code]

[2018-08-28 13:42] kintaro1981 commented on #612
`bot.get_media_owner(media)
`

[2018-08-28 14:47] kintaro1981 opened #628 "how can I check if a media is video or photo?"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-08-28 15:33] brain-wash commented on #626
Thanks! Now it seems to be working

[2018-08-28 15:35] EightShift commented on #624
@Tuplad, but... why?
I installed Linux on my home server. And it really works well. Only, I'm a noob in Linux. And I do not understand why it works only with version 2.7. When I try to run from version 3.6, nothing happens. And I'm trying to figure out how to do bat-file like in windows, for a convenient bot launch.

[2018-08-28 15:37] brain-wash commented on #612
@kintaro1981
Thank you! In the meantime I did a lot of testing and found a solution myself, but this one seems to be easier/cleaner.

[2018-08-28 16:23] bdebon commented on #484
Hello @lukasz00500 have your changes been merged to the main repository or is it still pending ?

[2018-08-28 17:02] brain-wash commented on #626
@kintaro1981
I have one more question right now - I hope I do not annoy you :D
When there are emojis in the caption, they get copied into a text file which then turns them into some weird characters. Is there a way to either remove the emojis before adding them to the text file, or even copy the emojis?

[2018-08-28 21:32] EightShift commented on #581
Problem with `, x ['comment_count']`
I just deleted it and repost is work now.
But...
I want that the bot is keep work and do repost less "best" photo from another account.
How it's possible?

[2018-08-28 21:34] EightShift commented on #581
Or how to make the bot do repost the best photo from each account.

[2018-08-29 07:10] kintaro1981 commented on #626
@brain-wash I'm on macOs and if I copy and past it maintains emoji (I'm using BBEdit/TextWrangler).
I think that you need a different text editor with emojis support.

[2018-08-29 07:44] kintaro1981 commented on #581
@EightShift you can launch it with a different username as argument, or create a loop for each account inside the script.

[2018-08-29 07:51] kintaro1981 commented on #623
use the function `get_username_from_user_id`

[2018-08-30 13:49] RobertoBrandini opened #629 "error 400 on like"
all my acounts return error 400

2018-08-30 10:43:30,364 - INFO - Instabot Started
2018-08-30 10:43:30,364 - INFO - Logged-in successfully as 'robertobrandini' using the cookie!
2018-08-30 10:43:30,364 - INFO - Going to like media with hashtag #nerd.
Getting hashtag media.: 0it [00:00, ?it/s]
2018-08-30 10:43:30,797 - ERROR - Request returns 400 error!
2018-08-30 10:43:30,803 - INFO - Instagram's

[2018-08-30 13:58] basnijholt commented on #629
Update to master with
[code]
and try again.

@sudoguy should we release a new version to pip where this fix is included?

[2018-08-30 18:14] alberdonpi opened #630 "Checkpoint Challenge Required error FIXED"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-08-30 18:17] basnijholt commented on #630
That sounds great! If you post the code here I could integrate it in a nice way ;)

[2018-08-30 18:19] basnijholt commented on #630
Or you could of course create a [pull request](https://github.com/instagrambot/instabot/pulls) and then I could review it for you.

[2018-08-30 18:21] alberdonpi commented on #630
Wow that was fast @basnijholt haha

Ok, I will clean a bit, do my best to create a script and share it here or in a pull request to start with and we will move from there! I'll do it tomorrow or over the weekend when I get some time off! Thanks!

[2018-08-31 12:26] RobertoBrandini commented on #629
same problem

[2018-08-31 12:37] RobertoBrandini commented on #629
solved the problem deleting cookie.txt

[2018-09-03 11:32] alberdonpi commented on #630
I was trying to add it in a nice way to the current code but didn't have time :( so I will just share the code and you guys can adapt it!

I simplified it and adapted it (I'm using a custom version of your repository) and it worked for me. Please note I couldn't test it with too many accounts so it still has work to do. This part solves the `checkpoint_challenge_required` error, where you select a

[2018-09-03 20:05] ghost opened #633 "NEW features : Mute"
### Purpose of your issue?

- [x] Feature request (request for a new functionality)

### Describe your issue

Hi, i would like to mute a list of accounts that the bot follows.
is it possilble?

thanks

[2018-09-04 18:58] That-Guyy opened #634 "Ultimate_schedule not doing anything after sign in"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-05 09:03] tarek-vader opened #635 "get_user_medias doesnt work ->KeyError: 'items'"
- [x] Updated to the latest version
- [ x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [ x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of your issue?
- [x] Bug report (encountered problems

[2018-09-05 14:39] A1exLemesios commented on #614
Having the same issue, the answer of @chicco785  is correct , though i can't edit the source code because is placed in an .egg file . Any ideas how to fix it ?

[2018-09-05 15:00] kantona80 commented on #547
UP!

[2018-09-05 15:20] #466 closed, assigned to nobody

[2018-09-05 15:36] tiagosassuncao opened #636 "Limite Downloaded Followers in like_user_followers.py"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-05 18:20] #560 closed, assigned to nobody

[2018-09-06 08:13] Sirman13 opened #637 "Warning Connection"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-06 08:52] river8822 opened #638 "Direct command avoiding user selection"
Basically I need to run "python ultimate.py" (Or any other as follow_user_followers.py) as a task on pythonanywere but I do not want to ask me what account to enter and define directly in the command such as: "python ultimate.py USER PASSWORD" or "python ultimate.py all accounts on secret.txt" entire list and click enter and run ... I hope I have understood.

[2018-09-06 10:05] #635 closed, assigned to nobody

[2018-09-06 19:37] bokornuevedos opened #639 "Anyone using this proxy? And how I can set up a proxy?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-07 11:41] prakovec commented on #637
I have this error too :(

[2018-09-07 11:59] ademaro commented on #639
You can use proxy from commandline (if your script supports this parameter), eg:
`python examples/archive_medias.py -proxy [your proxy]`
Or specify a parameter in the bot class method:
`bot.login(proxy='[your proxy]')`

[2018-09-07 12:01] ademaro commented on #637
This happens if the connection to the Internet is not stable...

[2018-09-07 13:31] prakovec commented on #637
internet is stable:
![image](https://user-images.githubusercontent.com/10186513/45221830-5b963800-b2bb-11e8-8e2e-69cb0dbd29dd.png)

[2018-09-07 14:26] prakovec commented on #637
@ademaro , We can pause when this exception occurs?

So how is this done here? :
[code]

[2018-09-07 14:34] prakovec commented on #637
My error is:
```2018-09-07 16:29:03,267 HTTPSConnectionPool(host='i.instagram.com', port=443): Max retries exceeded with url: /api/v1/feed/user/xxxxxxxxx/?max_id=&min_timestamp=None&rank_token=8244695533_f6788d08-f5e5-43a5-82bb-d1c10796b8f8&ranked_content=true (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0394C490>: Failed to establish a new connection: [Wi

[2018-09-07 23:12] bokornuevedos opened #640 "Instagram login from my proxy and from my regular IP in my mobile?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-07 23:13] bokornuevedos commented on #639
Thanks!

[2018-09-09 12:05] lukasz00500 commented on #636
just add 'nfollows' in like_user_followers file

[code]

[2018-09-10 00:59] ademaro commented on #637
@prakovec if you ping this host (i.instagram.com) — all okay?
When I have a connection breaks, I get the same error. To handle the error, you can use something like this:
[code]

[2018-09-10 19:56] prakovec commented on #637
@ademaro
![ping](https://user-images.githubusercontent.com/10186513/45320757-3409ce80-b54c-11e8-89a7-c7a630486a00.PNG)
ping is okay

[2018-09-11 13:38] md4956 opened #641 "ValueError: signal only works in main thread"
Code:

[code]

Error/Debug Log:

[code]
---
If I enter a correct username and password (I tried 4 personal account), this will happen. If I put wrong credential, it works normally. Before today, everything was fine. now, I am facing with this error without make any changes in my code.

[2018-09-11 19:56] alessiofx commented on #637
I have some problem, but only when unfollow

[2018-09-12 13:01] 1326570 opened #642 "Like with small delay (less 1 sec)"
(x) checked /updated
(x) question

how do i get very small delays when liking, e. g. 2likes per second?

When i put a value smaller than 10 i  the delay it seems like there is no effect on the delay, just as if the value was still 10. I did have python print the delay and it is indeed set supersmall (even tried 1e-35)

[2018-09-12 13:03] 1326570 commented on #642
ps: i would change it myself in source , bit i want to use this trick on my phone without access to the source

[2018-09-12 14:15] oguzhankarabulut opened #643 "Get all comments specific user profile"
Thanks for sharing it is amazing! I wanna ask how can i take all medias' comments specific profile like "instaprofile1" ?
Regards!

[2018-09-12 17:20] ademaro commented on #643
I implemented a new method for getting all the comments from media. We are waiting for the acceptance of the Pull Request #632

By this method, you can collect all comments from all posts.

[2018-09-12 21:35] #583 closed, assigned to nobody

[2018-09-13 04:34] #446 closed, assigned to nobody

[2018-09-13 12:43] iransales opened #644 "idea of new function!"
Can you save the name of the profiles that post with a hashtag?

[2018-09-13 15:34] #553 closed, assigned to nobody

[2018-09-15 04:54] #586 closed, assigned to nobody

[2018-09-15 04:54] #585 closed, assigned to nobody

[2018-09-15 14:28] #591 closed, assigned to nobody

[2018-09-16 16:35] Talebano commented on #644
Yes,of course you can.
Just use function get_hashtag_users to scrape them and then save the names in a .txt file.
This should work:
[code]

[2018-09-16 18:13] ghost commented on #614
still doesnt work @chicco785

[2018-09-17 07:28] Sprellex opened #645 "TQDM error in Multi_Script_CLI.py"
### Before submitting an issue, make sure you have:
- [x ] Updated to the latest version
- [ x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [ x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose

[2018-09-18 11:19] RevengeUA opened #646 "new subscription feature"
Add please search functions and subscriptions for geolocation. Worse from it will not be. I really hope for this feature and I'm waiting for it.

In the folder with the bot found files that run the **Like** of the **geotag**, _but did not find this function in the main startup parameters._ After all, the bot and so skips closed / business accounts in addition to the specified filters in the settin

[2018-09-18 11:57] iransales opened #647 "LatestMediaLikers Of A Page just for those who have "..." in name"
Tem como eu mandar mensagem para LatestMediaLikers Of A Page apenas para quem tem "arq", "interior", "3d" no nome. Por exemplo: @camila_arq, @interior_design, @proj3d, @only3d, ...

[2018-09-18 12:09] iransales commented on #644
did not work :( @Talebano

[2018-09-18 15:21] putuariepra commented on #614
Has anyone managed to fix this?
I have changed items to feed_items in bot_get.py (line 46, function get_timeline_medias). The error is gone but the bot always shows "After filtration 0 medias left. Nothing to like.". In fact, there are many medias that have not been liked when I open my timeline in mobile app

[2018-09-19 04:38] ademaro commented on #645
@Sprellex  try `pip install -U instabot`

[2018-09-19 04:57] ademaro commented on #644
@iransales all work, all users_id saved in `database.txt`, for save usernames change line `file.write(user)` to `file.write(bot.get_username_from_user_id(user))`

[2018-09-19 17:40] ikbenignace opened #648 "Unlimited likes ?"
Hello

If I run 'like media of a user's followers', he likes every single photo of an account, how can I limit this ?

[2018-09-19 18:27] kantona80 commented on #612
is there a way to tag username on the media?

[2018-09-20 00:15] ghost commented on #614
no one has managed to fix this and its very disappointing @putuariepra

[2018-09-20 07:52] Talebano commented on #644
Yeah @ademaro is right.
But anyway if I was you @iransales I'd rather use the ids and not the username,because our bot works with ids..you'll be in need of converting them later I think.

[2018-09-20 08:22] A1exLemesios commented on #614
The media retrieved from the  specific api has media_or_ad as main object . After the media are retrieved they are filtered based on their media object which doesn't exist . In bot.filter add a check for media_or_ad in the object and the filtering will work just fine

[2018-09-20 10:57] oguzhankarabulut opened #650 "Feedback required-follow_user_following.py (Request turn 400 error)"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-20 11:22] ikbenignace commented on #650
There is a max to follow 1000 users a day, if your bot follows too fast, instagram will block you, if you want to get the best setting, you need to set the cooldown time on following to 80 seconds. This means it wil follow 45 people per hour, so 1080 per day. This setting will help you to not get banned or blocked.
The 'error' you get, will say you account is blocked for following people.

[2018-09-20 11:42] oguzhankarabulut commented on #650
@ikbenignace thanks a lot!

[2018-09-21 17:10] batdefi opened #651 "How can i unfollow the first users that i followed"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-21 19:47] #587 closed, assigned to nobody

[2018-09-22 13:31] brain-wash opened #652 "Autopost works on Windows but not on Linux (Raspi)"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-09-23 14:02] barMperez opened #653 "Is there a gender filter?"
Is there a method that can filter the gender of the user?

[2018-09-24 07:42] ghost opened #654 "Error with idna package installing instabot"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-24 08:05] That-Guyy opened #655 "How do you know if your proxy is working?"
### Before submitting an issue, make sure you have:
- [ X] Updated to the latest version
- [X ] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X ] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose

[2018-09-25 03:10] #567 closed, assigned to nobody

[2018-09-25 05:10] #589 closed, assigned to nobody

[2018-09-25 12:04] tayfunyasar commented on #653
Twitter API doesn't provide gender data.

You would need some kind of AI to determine it :)

[2018-09-25 14:28] ghost opened #656 "Block_bots.py change default value"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-25 20:56] lukasz00500 commented on #630
where i should add this code ?

[2018-09-25 23:17] iransales opened #657 "Instagram competitions with this bot??"
How to participate in those Instagram competitions with this bot?? The Bot can searches tag and crawling from linked??

the bot would have to comment all followers on the comments, with variations of 1, 2 and 3 users per comment. without the comments being repeated.

Can someone write the bot?

[2018-09-26 02:12] #565 closed, assigned to nobody

[2018-09-26 12:16] #647 closed, assigned to nobody

[2018-09-26 12:23] iransales commented on #657
something similar to this project:
https://github.com/the-rccg/instaCompetitionBot

[2018-09-26 13:48] ghost opened #658 "Error 400 ; Error message : login_required"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-28 00:48] ademaro opened #659 "I found a few errors from closed #625 PR"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-09-28 11:03] #592 closed, assigned to nobody

[2018-09-28 16:37] Olcaey commented on #659
Hi,
I tried to fix the filter_closed_acc and search_blacklist_hashtags_in_media. Anything else that you could observe?

It seems somehow mine didn't have these errors and I didn't realize. Sorry for this.

[2018-09-28 19:26] ademaro commented on #659
@Olcaey The rest seems to be good, I'm testing further. It would be cool to cover the code with unit test.

[2018-09-29 12:48] ohld commented on #659
@Olcaey @ademaro Can someone please enhance the current test coverage to cover that changes?

[2018-09-29 17:16] brain-wash opened #662 "'NoneType' object has no attribute 'status_code'"
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-09-30 12:48] chicco785 commented on #650
@iamjagjeetubhi how to set cooldown time?

thx

[2018-09-30 13:23] #588 closed, assigned to nobody

[2018-09-30 13:23] #594 closed, assigned to nobody

[2018-10-01 12:47] mrbahadou opened #665 "question about the bot"
hello
first thanks for the greatest bot ever
my question is how many instagram account i can oppen with the bot

[2018-10-01 15:59] skk71 opened #666 "Multi login"
### Purpose of your issue?
- [ ] Bug report (encountered problems/errors)
- [X] Feature request (request for a new functionality)
- [X] Question
- [ ] Other

---

Hi,
is it possible to login to more accounts then one in one script?
Example, i login to 5 accounts in multi_script and like with one command a hashtag with all accounts.

Thanks!

[2018-10-01 19:11] ghost commented on #658
I solve it, if you have the same problem, you just have to delete the file "cookie.txt"

[2018-10-01 19:11] #658 closed, assigned to nobody

[2018-10-01 22:58] ademaro commented on #666
@skk71 You yourself will have to make the implementation of such a functional. Bot is capable of this.

[2018-10-01 23:02] ademaro commented on #665
@mrbahadou How many connect profiles - so much work and will. You just need to connect with a proxy server, if there are a lot of profiles ...

[2018-10-01 23:05] ademaro commented on #662
https://faq.buffer.com/article/951-publish-instagram-image-aspect-ratios
@brain-wash The width of your picture is less by 1 pixel. For such an image height, you need a minimum of 1280 pixels in width.

[2018-10-01 23:33] mrbahadou commented on #665
I have now 5 connected accounts
And i want to add about 2-3 accounts should i need a proxy !

[2018-10-02 05:47] isayhow opened #667 "when i run boy.py...ValueError: attempted relative import beyond top-level package"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-02 16:29] ademaro commented on #667
@isayhow what is your python version?

[2018-10-02 16:52] isayhow commented on #667
i use two version in two computer,but all apper this
i use 3.6 and 3.7

[2018-10-02 21:03] A1exLemesios opened #668 "Login problems for a specific account"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-03 08:43] TiasTias opened #669 "tqdm not displaying properly"
### Before submitting an issue, make sure you have:
- [X] Updated to the latest version
- [X] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-10-03 11:34] TiasTias opened #670 "TypeError: 'bool' object has no attribute '__getitem__'"
### Before submitting an issue, make sure you have:
- [X] Updated to the latest version
- [X] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-10-03 15:24] valghost opened #671 "HTTP connection problem"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-03 20:44] moh-shah opened #672 "Can I Get All My Direct Messages ?"
Hi!
Can I get the direct messages?
I want to store direct messages for some "competition" ... I ask a question and followers will send their answers in direct.

[2018-10-04 06:24] moh-shah opened #673 "Get Requests In A Private Account"
### Before submitting an issue, make sure you have:
- [ ] Updated to the latest version
- [ ] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-10-04 06:42] #654 closed, assigned to nobody

[2018-10-04 07:00] #552 closed, assigned to nobody

[2018-10-04 18:53] skk71 commented on #666
Can someone help me?
I just want to login from file (like accounts.txt)

THANK YOU!

[2018-10-04 23:13] jeffbruchado commented on #666
Did you figure out how to do this? If you discovered you could share here with the community?
Thanks

[2018-10-05 01:53] felipessz commented on #665
@ademaro Do you have an example?

[2018-10-05 12:38] skk71 commented on #666
no sorry ..

[2018-10-05 14:29] wanlorn75 opened #674 "When the bot say "out of follow for today" still check accounts and try to follow them."
### Before submitting an issue, make sure you have:
- [X] Updated to the latest version
- [X] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [X] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-10-05 17:02] Talebano commented on #644
Close this issue,problem has been solved

[2018-10-05 17:09] Talebano opened #675 "New function suggestion"
[ x] Feature request (request for a new functionality)
Why don't add feature 'min_likes_to_like' ?
As max_likes_to_like exists it would be useful to have also the opposite function
I'd code it myself but I don't know how to handle api

[2018-10-07 16:03] river8822 opened #676 "filter_users=False error on new bot version"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-07 22:42] hexorer opened #677 "Can't send local photo as direct message"
Hello, I needed to send especial produced photos as direct message to users, so I looked up you guys' great project, but didn't find any method/function/feature to send private/local photos as direct messages.

so I wanted to ask you guys add this feature to the bot and/or api. thanks.

[2018-10-08 03:16] #597 closed, assigned to nobody

[2018-10-09 10:16] Fardinak commented on #408
I would also like to see said filters, but I believe implementing middleware-based filtering could be a better idea since…

- it would leave the code cleaner
- allow custom filters (no need for updating the library)
- allow complicated filters that would never make it into the library

i.e. I imagine being able to use the [Clarifai](https://clarifai.com/) API to filter irrelevant and NSFW content

[2018-10-09 11:33] Fardinak opened #678 "Using a database engine"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-09 11:43] Fardinak opened #679 "Logging"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-09 23:09] #596 closed, assigned to nobody

[2018-10-10 07:38] wanlorn75 commented on #674
I've made a pull request to fix this.

[2018-10-10 07:38] #674 closed, assigned to nobody

[2018-10-10 11:27] kalafun opened #681 "max_follows_per_day changed, but not taken into account when running the script"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-11 11:22] Fardinak commented on #675
This is already implemented by #663 and merged into master.

[2018-10-13 19:45] dogukanaras opened #682 "ImportError: No module named requests"
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of your issue?
- [x] Bug report (encountered problems/e

[2018-10-13 20:48] Olcaey commented on #655
For me, I check it by looking at cookie.txt file. In that file, you can see that IP address that bot uses to log in. If you entered your wrong proxy info when this file was already generated, it still will log in the same information. However, try removing cookie file and logging in again to see if bot logs in with wrong proxy information. If it logs in, check new generated cookie file to see if t

[2018-10-14 07:19] mstikharev commented on #682
May be you are execute script not from virtual environment or you local env doesn't have `requests`? Check it first :)

[2018-10-14 14:27] dogukanaras commented on #682
I tried it in the local directory, but nothing changed.
I was working both ways before. But it doesn't work anymore

[code]

[2018-10-15 16:49] #555 closed, assigned to nobody

[2018-10-15 21:43] #601 closed, assigned to nobody

[2018-10-16 07:43] #499 closed, assigned to nobody

[2018-10-16 23:37] ravxl opened #684 "User Status/Activity"
Is there a way to get user status, user activity from this api/bot?

[2018-10-17 07:55] rkovachev88 opened #685 "Interval for welcome_message.py"
Hello,

Is there a way to set an interval for sending the messages? For example: 50 messages to be send and after 10 minutes, 50 more to be send etc.

Thank you!

[2018-10-17 22:42] #604 closed, assigned to nobody

[2018-10-18 09:14] TiasTias opened #686 "KeyError: 'items' when trying to like timeline"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-18 11:54] kalafun commented on #681
So I guess the thing is, all the classes there are examples, I have changed one or two example codes and now I am Instantiating the Bot class with a max_folllows_per_day parameter set to 1000 and it works :)

[2018-10-18 11:54] #681 closed, assigned to nobody

[2018-10-18 12:32] TiasTias opened #687 "Filtering business accounts not working correctly and cannot be turned off."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-18 13:42] #605 closed, assigned to nobody

[2018-10-18 14:31] barMperez commented on #653
And instagram is?

[2018-10-20 00:28] Olcaey commented on #687
Hi @TiasTias, both in API and instagram website source code, this account seems as business account. Therefore, it is filtered out.
I don't know why this user does not have business account signals like other profiles, but it seems like it actually is a business account.

for the 2nd run with filter_business_accounts = False, you should either re-start the bot or set this filter with bot.filter_bu

[2018-10-20 00:42] Olcaey commented on #653
I believe @tayfunyasar mentioned about instagram and yes, as far as I see there is no gender information in instagram API.
However, there are some instagram bot services provide this option as a filter. So, it would be interesting to know how they are able to operate this filter.

[2018-10-20 15:46] #536 closed, assigned to nobody

[2018-10-20 15:46] #606 closed, assigned to nobody

[2018-10-20 15:54] aferook commented on #686
I had the same error, #689 solves my problem

[2018-10-20 17:02] TiasTias commented on #686
Okay, so I changed that one line 46 to
[code]
and restarted the bot but it still doesn't work. Is there an extra step I am missing?

[2018-10-20 17:16] TiasTias commented on #687
Thanks for the reply! Naturally I tried re-starting the box but this didn't do anything. I think I am having wider issues because I also noticed when I updated the values for max_likes_to_like for instance it still didn't take this into affect. Where do I set this filter to this filter with bot.filter_business_accounts = False ? Simply where it is an adding "bot." before?!

Is there anyway I can d

[2018-10-20 20:46] #607 closed, assigned to nobody

[2018-10-21 11:36] aferook commented on #686
Is there any error message?

[2018-10-21 11:40] TiasTias commented on #686
Yes, the KeyError: 'items' .

 I think there may be something wrong with my environment though since I am getting these other strange behaviours such as this unnecessary filtering of medias for instance (see the image in the original post). I don't know how to reset it other than deleting the files and re-downloaded the repo but that didn't change anything.

[2018-10-21 12:20] Olcaey commented on #687
You set parameters like filter_business_accounts either at the start or later within the functions. However, in the start use bot = Bot(filter_business_accounts=True). Then, since all these parameters are assigned to bot, you need to use bot.filter_business_accounts to view or change these parameters. Original bot parameters can be found in bot.py inside:
class Bot(object):
    def __init__(self,

[2018-10-21 18:39] #599 closed, assigned to nobody

[2018-10-21 22:52] macdonjo commented on #18
Does anyone here have the cURL request for this?

[2018-10-22 15:54] #608 closed, assigned to nobody

[2018-10-22 16:36] TiasTias commented on #687
It is clear these parameters are not being recognised as being updated though. Since I also updated...

`                 max_followers_to_follow=9000,
                 min_followers_to_follow=100,
                 max_following_to_follow=5000,
                 min_following_to_follow=100,
                 max_followers_to_following_ratio=99,
                 max_following_to_followers_ratio=99,
`

[2018-10-22 17:54] #609 closed, assigned to nobody

[2018-10-22 20:54] #600 closed, assigned to nobody

[2018-10-23 23:23] kintaro1981 commented on #588
Same problem with an account of mine. I was doing all within the default limits.

Is there anything I can do to make IG revoke the suspension?

[2018-10-23 23:24] kintaro1981 opened #690 "account suspended/banned"
I was doing all within the default limits.

Is there anything I can do to make IG revoke the suspension?

[2018-10-24 15:53] #613 closed, assigned to nobody

[2018-10-24 20:15] ghost opened #691 "In message_users.py doesn't exist cookie.txt"
When I run message_users.py It puts me that cookie.txt doesn't exist.
Help please!!!!!!!

[2018-10-25 22:13] #559 closed, assigned to nobody

[2018-10-26 12:17] oumuamuax opened #692 "How to use help"
Help how to use, im newbie

[2018-10-26 22:13] #610 closed, assigned to nobody

[2018-10-27 09:35] Fardinak commented on #691
AFAIK that is not an error. If you let it run for a second it will log into the provided account and create `cookie.txt` for you.

[2018-10-27 09:55] Fardinak commented on #692
You can find the docs here: https://instagrambot.github.io/docs/

After reading the docs and the FAQ, you can start by using the scripts available in the `examples` directory.

[2018-10-27 09:56] ghost commented on #691
Ok thx

[2018-10-28 17:51] oguzhankarabulut commented on #666
hahahaha

[2018-10-28 17:52] #643 closed, assigned to nobody

[2018-10-28 18:59] oguzhankarabulut opened #693 "How to save usernames not user_ids"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-10-29 11:22] #611 closed, assigned to nobody

[2018-10-29 11:22] #615 closed, assigned to nobody

[2018-10-29 13:35] #693 closed, assigned to nobody

[2018-10-29 20:13] #617 closed, assigned to nobody

[2018-10-29 23:21] edrizo commented on #18
@sudoguy Hi! Is it working?

How can we use it? :-)

Thank you so much!

[2018-10-30 07:51] oguzhankarabulut commented on #650
@chicco785 if you read the documents you will see how can you set it. I am giving hint now "follow_delay" :)

[2018-10-30 07:52] #650 closed, assigned to nobody

[2018-10-31 00:01] macdonjo opened #694 "Endpoint for searching likes"
I am considering starting on a new pull request, but need to know the endpoint for searching likes.

It's likely very similar to:

`'media/{media_id}/likers/?'.format(media_id=media_id)`

The bot needs an option to search likers as the list of likers is not all of the likers. It's only a subset when querying popular media.

[2018-10-31 15:36] TiasTias commented on #687
BUMP

[2018-10-31 16:26] #618 closed, assigned to nobody

[2018-10-31 21:32] sudoguy commented on #686
Fixed #689 . Thanks to @aferook

[2018-10-31 21:32] #686 closed, assigned to nobody

[2018-11-01 09:58] lukasz00500 opened #695 "How to like users from file ?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-01 14:39] MIKSby commented on #695
Hi! Try "ultimate script" in `/examples/ultimate/ultimate.py`

[2018-11-01 22:04] lukasz00500 commented on #695
#696

[2018-11-01 22:55] lukasz00500 opened #697 "issue with using "nlikes=x""
### Before submitting an issue, make sure you have:
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of

[2018-11-02 06:26] macross5 commented on #697
Nearly same issue:

---
bot.like_hashtag(get_random(bot.read_list_from_file(config.HASHTAGS_FILE)), amount=to_like)
---

2018-11-01 23:22:28,417 Liking user_3020009478's feed:
2018-11-01 23:22:28,782 Received 18 medias.
2018-11-01 23:22:28,783 After filtration 18 medias left.
2018-11-01 23:22:28,783 Going to like 9 medias.
2018-11-01 23:22:29,672 Received 1 medias.
2018-11-01 23:22:29,672 After fi

[2018-11-03 05:28] macross5 commented on #697
Solution: build your own filter_medias an get the items from media["media_or_ad"].

Example:

feed = []
    for media in bot.api.last_json["feed_items"]:
        media = media["media_or_ad"]
        if 'pk' in media and not media['has_liked']:
            feed.append(media['pk'])

[2018-11-05 18:05] #620 closed, assigned to nobody

[2018-11-05 18:16] oguzhankarabulut opened #698 "Randomize like_delay"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-05 21:05] #621 closed, assigned to nobody

[2018-11-06 00:05] #622 closed, assigned to nobody

[2018-11-06 00:25] MIKSby commented on #698
[code]

[2018-11-06 16:57] #572 closed, assigned to nobody

[2018-11-09 01:03] #595 closed, assigned to nobody

[2018-11-09 14:48] Oyetomi opened #699 "KeyError: 'items' error"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-09 15:05] oguzhankarabulut commented on #698
@MIKSby thank you for your reply but,
i did like it but i think this method start bot with random like delay for once so bot will like photos same like delay until i will stop the bot and start again. I want to chance like delay like to like in one process.

[2018-11-09 15:09] oguzhankarabulut commented on #699
i am assuming you are not giving correctly userid/username to bot

[2018-11-09 16:59] Oyetomi commented on #699
@oguzhankarabulut I get the error while running ultimate script

[2018-11-09 19:33] TiasTias commented on #605
I am also getting this issue. It seems to be working alright but in the log many "ERROR - Request returns 404 error!" are popping up. Essentially with every action.

[2018-11-09 20:57] LopesX commented on #65
I found it on other bot, i hope it help: https://github.com/LopesX/instabot.py/blob/master/src/instabot.py#L351

def get_media_id_by_tag(self, tag):
        """ Get media ID set, by your hashtag or location """

        if self.login_status:
            if tag.startswith('l:'):
                tag = tag.replace('l:', '')
                self.by_location = True
                log_string = "Get Med

[2018-11-10 07:37] #624 closed, assigned to nobody

[2018-11-10 11:59] ohld commented on #65
Nice. Can you please implement it in our bot? Let's make a Pull Request.

[2018-11-10 15:50] #628 closed, assigned to nobody

[2018-11-10 16:45] TiasTias opened #700 "Filtering out myfollowers - myfollowing - skipped - blacklist from users_to_like_and_follow"
### Purpose of your issue?
- [ ] Bug report (encountered problems/errors)
- [ ] Feature request (request for a new functionality)
- [x] Question
- [ ] Other

---

### For a *bug report*, you **must** include the Python version used, *code* that will reproduce the error, and the *error log/traceback*.

Paste the output of ``python -V`` here:

Code:

[code]

Error/Debug Log:

[code]

---

### Descri

[2018-11-10 17:50] #484 closed, assigned to nobody

[2018-11-10 21:48] Warmooo commented on #687
@TiasTias I had the same problem but seem to have resolved the issue for me, so perhaps you could try the following:

1. Depending on what operating system you are using, you'll need to find your way to your Library folder, in which should be a folder called Python (the folder name might also have your version number, e.g. python2.7).

2. Within this folder see if you can find your way to a folder

[2018-11-10 22:46] smokefx opened #701 "After filtration 0 medias left."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-11 07:56] disayner opened #702 "How tune proxy ipv6?"
Hello to all!
I can not configure a private proxy.
Please, help.

ipv6
ip - 2a03:c011:169b:2f13:9eb7:65ad:1714:0d22
HTTP(s)-server: 210.109.207.164:13200
login: 0zzzzh
pass: KDicnq1
type: HTTPS_

I write to the proxy parameter (-proxy 'htts://username:password@ip_address:port'), but Failed to parse written every time.

[2018-11-11 08:50] #626 closed, assigned to nobody

[2018-11-11 08:50] #581 closed, assigned to nobody

[2018-11-11 08:50] #623 closed, assigned to nobody

[2018-11-11 12:33] disayner commented on #702
many thanks,
http://0zzzzh:KDicnq1@210.109.207.164:13200
work ok

[2018-11-11 12:33] #702 closed, assigned to nobody

[2018-11-11 21:42] smokefx commented on #701
I've actually disabled the filtration and the bot still doesnt like any media ... not too sure what is causing it.

[2018-11-11 22:03] dealerboost commented on #701
Same here

[2018-11-13 14:09] #629 closed, assigned to nobody

[2018-11-13 16:09] davidrsantos commented on #701
@ wolduby

[2018-11-13 16:38] Oyetomi opened #703 "Get user medias key error"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-13 16:42] #699 closed, assigned to nobody

[2018-11-13 16:43] Oyetomi commented on #703
@sudoguy @basnijholt @ohld

[2018-11-13 17:08] oguzhankarabulut commented on #703
#686

[2018-11-14 00:04] nvirin opened #704 "follow after a certain number of follower"
Hello,
The context: I want to follow followers of Mr X. He has 1000 followers.
I want the script start following from the 500 th  follower. (the script now start following from the first follower)

Is it possible?

[2018-11-14 06:24] AmauryBJ opened #705 "400 Error not able to login..."
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-14 09:31] TiasTias opened #706 "A lot of 404 Errors"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-14 09:53] #700 closed, assigned to nobody

[2018-11-14 12:01] elabdel26 commented on #701
Hello, I also observed this problem. But after taking a look to bot code there are a lot of filter to play with in the aim to do what we need. The default values are not always suiting the needs

First of all you can test with bot.filter_users = False

Then try the likes filters :
bot.max_likes_to_like=10000 (default = 100)
bot.min_likes_to_like=0 (default = 20)

The default values mean that all p

[2018-11-14 12:26] smokefx commented on #701
yes, ive tried changing the filters, it still filters the media to 0 @elabdel26

[2018-11-14 13:42] mendezin opened #707 "Feature Request: save_users_by_location_into_file"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-14 13:49] mendezin commented on #644
This works great but only dumps 64 users. Is it possible to manually give it a limit of xxx?

[2018-11-14 13:49] dealerboost commented on #701
Same again. I changed all the settings and still 0 medias left.

[2018-11-14 13:49] dealerboost commented on #701
Maybe someone share his settings so we can test it out ?

[2018-11-14 20:45] voron434 opened #708 "How to work with photos?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-14 21:13] voron434 commented on #708
Well, I already made [this PR](https://github.com/instagrambot/docs/pull/14)

[2018-11-15 07:01] djtroi opened #709 "Changing Like and follow limit in "ultimate.py" doesn't work"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-15 07:09] djtroi commented on #706
Which script do you have running?

[2018-11-15 07:56] oguzhankarabulut commented on #704
yes possible

[2018-11-15 11:22] nvirin commented on #704
Can you explain me how please?

[2018-11-15 11:29] oguzhankarabulut commented on #704
a = bot.get_user_followers(mr X)
for x in range (500, len(a))
    bot.follow(a[x])

[2018-11-16 02:37] diorox commented on #701
Same problem

[2018-11-16 11:43] voron434 commented on #708
Merged.

[2018-11-16 11:43] #708 closed, assigned to nobody

[2018-11-16 11:57] djtroi commented on #681
Could you explain  / post the code please, how did you get it to work? I have the same issue

[2018-11-16 17:11] oguzhankarabulut opened #710 "How to get total like count my account?"
### Before submitting an issue, make sure you have:
- [x ] Updated to the latest version
- [x ] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x ] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose

[2018-11-16 18:55] #710 closed, assigned to nobody

[2018-11-16 21:22] #633 closed, assigned to nobody

[2018-11-17 10:09] programmarayush commented on #644
How can I run your script , Can I run through Ubuntu Terminal?

[2018-11-17 11:58] TiasTias commented on #681
I also had this issue and I believe it's because the compiled code is not being updated only in your source. Running the code in a virtual environment seems to work for me. Otherwise try the recommendation posted here... https://github.com/instagrambot/instabot/issues/687

[2018-11-17 21:19] #634 closed, assigned to nobody

[2018-11-18 16:04] alainpoeta commented on #701
I changed min_likes_to_like=0
and filter_business_accounts=False

in bot.py and solved the same problem

[2018-11-18 16:19] #547 closed, assigned to nobody

[2018-11-18 16:29] dealerboost commented on #701
Worked here as well. Thank you bud

[2018-11-18 17:28] ghost commented on #701
This solution is not working for me. I still get this display:

INFO - Received 10 medias.
INFO - After filtration 0 medias left.
INFO - Nothing to like.

[2018-11-18 17:58] dealerboost commented on #701
here are my settings if iti can help:

[2018-11-18 18:10] ghost commented on #701
Thank you but it's not working. I think it's not a problem of settings but I'm completely stacked. Thank you anyway.

[2018-11-18 20:54] smokefx commented on #701
didn't work for me. i changed all the filter settings to false and it still didnt work.

[2018-11-18 20:54] smokefx commented on #701
did you change something else? because those 2 settings didnt work for me.

[2018-11-18 20:58] dealerboost commented on #701
Nope. Here the settings (pretty much default)

whitelist_file='whitelist.txt',
                 blacklist_file='blacklist.txt',
                 comments_file='comments.txt',
                 followed_file='followed.txt',
                 unfollowed_file='unfollowed.txt',
                 skipped_file='skipped.txt',
                 friends_file='friends.txt',
                 proxy=None,

[2018-11-19 00:39] smokefx commented on #701
how strange mine still doesnt work... hmmm

[2018-11-19 08:43] ghost commented on #701
Same here. Changing these parameters the behaviour of the "liker functions" changes, as expected. Except the behaviour of the feed likers.

[2018-11-19 09:38] #638 closed, assigned to nobody

[2018-11-20 08:24] dpereirasilva commented on #701
Olá eu sou brasileiro e não sei escrever muito bem ingles tão a solução é a seguinte:
Modifique a função de nome _filter_medias_not_likes do arquivo bot_filter.py na linha 23.
Cole isto:
`def _filter_medias_not_liked(media_items):
    not_liked_medias = []
    for media in media_items:
        try:
          media = next(v for k,v in media.items() if 'media_or_ad' in k)
          if 'has_liked' in

[2018-11-20 10:43] smokefx commented on #701
thank you!, i just added the code but it still is not working... here is what i changed for the function _filter_medias_not_liked()

[code]

[2018-11-20 12:05] djtroi commented on #706
I get this Problem when I Change the attributes for the follow and like amount. so practically I get 350 follows without 404 error and the others with error (but it still works).

I don't know what causes this Problem, sorry

[2018-11-20 14:42] #709 closed, assigned to nobody

[2018-11-20 18:10] dpereirasilva commented on #701
Você não pode esquecer de inserir:

**bot.like_timeline()** <-
Dai tudo da certo \o/

[2018-11-20 20:27] valentinpompa opened #711 "500 Error (even with differents accounts and proxies)"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-20 22:22] smokefx commented on #701
yes i did add this but still no luck :(

[2018-11-21 00:03] #639 closed, assigned to nobody

[2018-11-21 00:03] #640 closed, assigned to nobody

[2018-11-21 10:14] WeidnersApps commented on #701
I have the same problem and tryed it all, but i also didn't get it fixed

[2018-11-21 13:39] howhigh1337 commented on #711
There is an issue with API on their end, you can refer here for the updates: https://developers.facebook.com/status/issues/317603295743499/

[2018-11-21 15:42] ghost commented on #701
Same problem here, it's not working.

[2018-11-21 17:14] MrMdR commented on #701
Hi, I got the same problem. I can't seem to find the solution.
_Recieved 7 medias
after filtration 0 medias left
going to comment on 0 medias_

[2018-11-21 17:35] MrMdR commented on #701
It seems that it has to do with commenting/linking on your feed/timeline. When liking media from followers or with a hashtag it appears to work.

The function "bot.get_timeline_medias()" is the problem I think?

Anyone experience the same?

[2018-11-21 19:49] smokefx commented on #701
it does seem like it works a little bit not but fully working either for me. it filters it off 1 by 1 when i use the examples/like_hashtags.py which i dont think was its normal operation before it broke. its definately something to do with a filtering function or a get function.

[2018-11-22 13:12] #636 closed, assigned to nobody

[2018-11-22 17:29] TiasTias commented on #706
Would be nice if we could get a solution to this!

[2018-11-23 05:08] EightShift opened #712 "How can i use stopwords file to like_hashtags in ultimate_schedule?"
- [x] Updated to the latest version
- [x] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

- [ ] Bug report (encountered problems/errors)
- [ ] Feature reques

[2018-11-24 13:55] #641 closed, assigned to nobody

[2018-11-24 20:55] #637 closed, assigned to nobody

[2018-11-25 08:48] #698 closed, assigned to nobody

[2018-11-25 14:15] #642 closed, assigned to nobody

[2018-11-25 15:50] barclaey commented on #613
Getting the top hashtag posts instead of (or in addition to) the most recent ones would be very nice. Is there any documentation on the "unofficial instagram" api? I'm willing to add it if I know how the API looks like...

[2018-11-25 15:52] barclaey commented on #318
Getting the top hashtag posts instead of (or in addition to) the most recent ones would be very nice. Is there any documentation on the "unofficial instagram" api? I'm willing to add it if I know how the API looks like...

[2018-11-25 16:59] cooolforce opened #714 "Feature Request : Save Stats of a List of Users"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-27 03:17] sometimescool22 opened #715 "Can't comment; feedback_required"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-27 14:02] oguzhankarabulut opened #716 "Which proxy seller website do you prefer?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-11-29 07:23] valentinpompa commented on #707
We need this. Please help us.

[2018-11-29 22:46] markford1 commented on #701
Any progress with this issue? I’m currently having the same problem :(

[2018-11-30 15:08] sudoguy commented on #701
Guys, this bug fixed https://github.com/instagrambot/instabot/commit/bf82ec5264ead837e3bf8136f7dd3c379412d46a
But update only in master branch, not in pip yet

[2018-11-30 18:33] #714 closed, assigned to nobody

[2018-12-01 11:34] #646 closed, assigned to nobody

[2018-12-01 13:35] Brun01o opened #718 "schedule help"
How do I make welcome_message.py 24/7?

[2018-12-02 04:03] lizergin88 commented on #701
Didn't help. Still 0 medias

[2018-12-02 05:31] #645 closed, assigned to nobody

[2018-12-02 11:13] balazsimi commented on #651
I would love this feature too! The only feature I miss is unfollowing every followed user after 20 hours. Love to hear if is it possible and how?

[2018-12-02 18:31] #648 closed, assigned to nobody

[2018-12-02 19:31] #612 closed, assigned to nobody

[2018-12-03 05:45] smokefx commented on #701
when i first loaded it seems working but i keep getting filters out again after running the ultimate.py scripe for a couple days and its returning 0 medias again..

[2018-12-03 09:26] #614 closed, assigned to nobody

[2018-12-03 14:59] lizergin88 commented on #701
Who knows how to disable this timeline filter at all? Tried bot.filter_users=False, filter_private_users=False, filter_users_without_profile_photo=False
didn't have any effect, still 0 medias to like.

[2018-12-05 12:06] f4depo opened #719 "Can't follow private accounts"
- [x ] Updated to the latest version
- [x ] Read the [README](https://github.com/instagrambot/instabot/blob/master/README.md) and [docs](https://github.com/instagrambot/instabot/tree/master/docs)
- [x ] [Searched](https://github.com/instagrambot/instabot/search?type=Issues) the bugtracker for similar issues including **closed** ones

### Purpose of your issue?
- [ ] Bug report (encountered problem

[2018-12-06 20:13] #652 closed, assigned to nobody

[2018-12-08 09:59] sebastian-muthwill opened #720 "Make ultimate_schedule Bot behave more naturally (rest at night / work on day)"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-08 15:17] #656 closed, assigned to nobody

[2018-12-08 22:17] #630 closed, assigned to nobody

[2018-12-09 13:17] #657 closed, assigned to nobody

[2018-12-10 18:26] tobeyond opened #721 "Change profile picture"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-11 08:00] ademaro commented on #719
@Fers4t hi!
When creating a bot, you need to turn off filtering via the parameter:
[code]

[2018-12-11 08:05] ademaro commented on #718
@brunoHelloWorld use cron or write in your code something like this:
[code]

[2018-12-11 08:13] ademaro commented on #707
@valentinpompa `bot.get_geotag_medias` not implemented yet in this bot...

[2018-12-12 12:54] EightShift commented on #720
I did this one:

`import datetime`

[code]

`schedule.every(5).to(15).minutes.do(run_threaded, follow_users_from_hastag_file)`

[2018-12-12 14:16] #659 closed, assigned to nobody

[2018-12-12 14:47] tobeyond opened #722 "Set public account ('API' object has no attribute 'uuid')"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-12 15:48] ldrolez commented on #706
I get this error after an unfollow

[2018-12-12 16:02] ldrolez commented on #706
Ok I added some debug in api.py, and found that it was caused by a non existing user in whitelist.txt

[2018-12-15 00:03] #662 closed, assigned to nobody

[2018-12-15 02:01] 01ssela commented on #721
not yet

[2018-12-15 17:52] #667 closed, assigned to nobody

[2018-12-15 21:52] #668 closed, assigned to nobody

[2018-12-16 12:52] #670 closed, assigned to nobody

[2018-12-16 12:52] #669 closed, assigned to nobody

[2018-12-16 16:52] #671 closed, assigned to nobody

[2018-12-16 20:46] tobeyond commented on #721
Will that ever be available?

[2018-12-16 20:53] tobeyond opened #723 "like_user not working"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-16 21:52] #672 closed, assigned to nobody

[2018-12-18 04:06] #665 closed, assigned to nobody

[2018-12-18 16:54] myflashflow commented on #706
Very helpful, thank you! I had the same error and solved it removing the while list :D

[2018-12-18 17:00] smolyakov26 commented on #723
same here ) no idea looking for solution

[2018-12-18 17:14] smolyakov26 opened #724 "how to get more medias before filtration ?"
How to fix it.
It says found 80 medias by hastag , but i want to grab more medias to like . but for sure there are about a million medias with this hashtag (for example #love )

[2018-12-19 11:16] tobeyond commented on #723
I found out the min_likes_to_like=0 is not working.
After the medias have at least 1 like, it works after all.

[2018-12-19 22:11] #673 closed, assigned to nobody

[2018-12-20 08:46] mamazary commented on #715
I have the same error as this, but only on like action, but for comment, follow, it does fine.
I though this one is feedback for giving the apps feedback, like if you are new account and just download and login to instagram apps, then it will asking you for feedback about the instagam apps, but we can't answer it since it using CLI. It's just my opinion, need to inspect the problem more depth and

[2018-12-20 12:43] tobeyond opened #725 "Screen killed on SSH"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-20 22:32] #676 closed, assigned to nobody

[2018-12-21 03:13] #677 closed, assigned to nobody

[2018-12-22 17:41] #678 closed, assigned to nobody

[2018-12-22 17:41] #679 closed, assigned to nobody

[2018-12-24 15:55] #675 closed, assigned to nobody

[2018-12-24 18:24] kifirkin commented on #725
I guess there is a problem with your environment.
I’m successfully using screen to run instabot through ssh.

[2018-12-25 09:03] postaspat62 opened #727 "error 403 404 on any script"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub

[2018-12-26 07:31] lenivyi commented on #727
Just remove file "cookie.txt" and run the script again, bro.

[2018-12-27 01:41] #655 closed, assigned to nobody

[2018-12-27 22:18] #682 closed, assigned to nobody

[2018-12-28 10:41] postaspat62 commented on #727
It's working now, thanks a lot.

[2018-12-28 10:41] #727 closed, assigned to nobody

[2018-12-28 21:02] deounix opened #728 "How to save my session ?"
## Please follow the guide below

- Issues submitted without this template format will be **ignored**.
- You will be asked some questions and requested to provide some information, please read them **carefully** and answer completely.
- Put an `x` into all the boxes [ ] relevant to your issue (like so [x]).
- Use the *Preview* tab to see how your issue will actually look like.

---

### Before sub